:root
{
    --no-theme-text: #eee;
    --text-shadow: #111;
    --main-color: #d77c00;
    --header-bg: #141414;
    --red-color: #992200;
    --nav-text: #eee;
    --analchem-color: #00c900;
    --metallurgy-color: #8dc401;
    --footer-bg-1: #714433;
    --footer-bg-2: #412525;
}

[data-mode='dark'] {
    --text: #eee;
    --background-color: #555;
    --container-background: linear-gradient(#444 0%, #333 50%, #111 100%);
    --calculator-background: linear-gradient(#333 0%, #222 50%, #000 100%);
    --popup-background: linear-gradient(0deg, #333 0%, #222 30%, #000 100%);
    --box-shadow: #111;
}

[data-mode='light'] {
    --text: #111;
    --background-color: #ddd;
    --container-background: linear-gradient(#bbb 0%, #aaa 50%, #888 100%);
    --calculator-background: linear-gradient(#ccc 0%, #ddd 50%, #fff 100%);
    --popup-background: linear-gradient(0deg, #ccc 0%, #ddd 30%, #fff 100%);
    --box-shadow: #aaa;
}
