@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../fonts/lato-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('../fonts/lato-bold.woff2') format('woff2');
}