@media (min-width: 769px) and (max-width: 992px) {
	.header {
		&__options {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;
		}
	}

	.nav {
		font-size: 0.75rem;
	}

	.main {
		&__photo-image {
			width: 55vw;
		}

		.speciality-more-info {
            .speciality-closing-info {
                font-size: .9rem;
            }
        }
	}
}
