@mixin hidden-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease-in-out;
}

@mixin flex($gap, $direction: row, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: $align;
    gap: $gap;
}

@mixin svg-fill($className) {
    .#{$className} {
        fill: var(--white-color);
    }

    body[data-mode="light"] .#{$className} {
        fill: var(--black-color);
    }
}

@mixin animation-mixin($name, $start, $end, $y-from, $y-to, $rotate-angle: 0) {
    @keyframes #{$name} {
        #{$start} {
            transform: translateY($y-from);
            rotate: 0;
        }

        #{$end} {
            transform: translateY($y-to);
            rotate: $rotate-angle;
        }
    }
}