@use 'colors' as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: sans-serif;
	color: var(--text);
	background-color: var(--background-color);
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1200px;
	background-image: var(--container-background);
	border: 5px ridge var(--main-color);
	border-radius: 8px;
	text-align: justify;
	line-height: 1.3rem;
}

.main-heading {
	margin-bottom: 2rem;
	color: var(--main-color);
	text-align: center;
	line-height: 2rem;
}

.second-heading {
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.3rem;
}

a
{
	color: var(--text);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	width: 100vw;
	background-color: var(--header-bg);

	&__logo {
		display: flex;
		align-items: center;
	}

	&__image {
		margin-right: 1rem;
		height: 3rem;
	}

	&__text {
		font-size: 1.5rem;
		color: var(--no-theme-text);
	}

	&__options-link {
		padding: 0.5rem;
		color: var(--no-theme-text);
		font-size: 0.8rem;

		.fa-solid {
			margin-right: 0.5rem;
		}
	}
}

.nav {
	width: 100vw;
	background-color: var(--main-color);

	&__items,
	&__items-down {
		list-style: none;
		z-index: 10;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		max-width: 1200px;
	}

	&__item-main,
	&__item-down {
		width: 11vw;
		text-align: center;
		color: var(--nav-text);
		transition: background-color 0.3s;
	}

	&__item-main {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 4rem;
		border-right: 4px ridge var(--nav-red);
		opacity: 0.75;

		&--last {
			border: none;
		}

		.fa-solid {
			padding: 5px;
		}
	}

	&__item-main:hover {
		background-color: var(--nav-red);
	}

	&__items-down {
		display: none;
		position: absolute;
	}

	&__item-down {
		display: block;
		padding: 0.8rem 0.5rem;
		background-color: var(--main-color);
		border-bottom: 4px ridge var(--nav-red);

		&--last {
			border: none;
		}
	}

	&__item-down:hover {
		background-color: var(--nav-red);
	}

	&__mobile {
		display: none;
	}
}

.nav-active {
	display: block;
}

.menu-item-active {
	font-weight: bold;
	text-shadow: 1px 1px 5px var(--text-shadow);
	opacity: 1;
}

.centered {
	text-align: center;
}

.main {
	margin: 3rem 0;

	// home page
	&__photo {
		display: inline-block;
		position: relative;
		margin-bottom: 2rem;
	}

	&__photo-image {
		width: 45vw;
	}

	&__photo-text {
		position: absolute;
		bottom: 4px;
		padding: 2rem;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: var(--no-theme-text);
		opacity: 0;
		transition: opacity 0.3s;
	}

	&__photo:hover &__photo-text {
		opacity: 1;
	}

	&__info {
		line-height: 2rem;

		.executive {
			font-weight: bold;
		}
	}

	&__info-first {
		margin-bottom: 1rem;
	}
	// end of home page

	.research,
	.labs {
		list-style: none;
	}

	// research and labs sections
	.analchem,
	.metallurgy {
		padding: 1rem;
		border-radius: 8px;
	}

	.analchem {
		margin-bottom: 2rem;
		background-color: var(--analchem-color);
	}

	.metallurgy {
		background-color: var(--metallurgy-color);
	}

	.research,
	.labs {
		&__item {
			margin-bottom: 1rem;
		}

		&__item:last-child {
			margin-bottom: 0;
		}
	}

	.labs {
		&__bold {
			font-weight: bold;
		}

		&__subitems {
			margin: 0.5rem 0 1rem 2rem;
			list-style: inside;
			font-size: 0.9rem;
		}

		&__subitems:last-child {
			margin: 0.5rem 0 0 2rem;
		}

		&__subitem {
			margin-bottom: 0.3rem;
		}
	}
	// end of research and labs sections

	// speciality page
	.speciality-basic {
		text-align: center;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.speciality-info {
		margin-top: 1rem;
	}

	.speciality-list {
		list-style: inside;
	}
	
	.speciality-list:last-of-type {
		margin-bottom: 2rem;
	}

	.speciality-more-info {
		display: flex;
		flex-direction: column;
		align-items: center;

		.speciality-img {
			position: relative;
			text-align: center;
		}

		.speciality-photo {
			width: 50%;
			transition: width .5s;
		}

		.fa-solid,
		.speciality-closing-info {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgba(0, 0, 0, 0.5);
		}

		.fa-solid {
			padding: 1rem;
			font-size: 4rem;
			cursor: pointer;
		}

		.speciality-closing-info {
			display: none;
			top: calc(50% - 1vh);
			font-size: 1.2rem;
			cursor: default;
		}

		.speciality-enlarge {
			width: 100%;
		}
	}
	// end of speciality page

	// courses page
	.courses
	{
		&__title, &__content-box
		{
			padding: 1rem;
			background-color: var(--main-color);
			border: 5px ridge var(--nav-red);
			border-radius: 10px;
		}

		&__title
		{
			text-align: center;
			cursor: pointer;
		}

		&__content
		{
			max-height: 0;
			overflow: hidden;
			transition: max-height .5s;
		}

		&__heading
		{
			margin-top: 1rem;
			font-size: 1.2rem;
		}

		&__heading:first-of-type
		{
			margin-top: 0;
		}

		&__subheading
		{
			margin-top: 1rem;
		}

		&__lectures
		{
			margin-top: 1rem;
		}

		&__item
		{
			list-style: none;
		}

		&__link
		{
			transition: color .5s;
		}

		&__link:hover
		{
			color: var(--nav-red);
		}

		&__calculate-grade
		{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__calculator
		{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 1rem;
			padding: 1.5rem;
			width: 25%;
			border-radius: 10px;
			background-image: var(--calculator-background);
		}

		&__calculator-grade
		{
			margin-bottom: 1rem;
			width: 70%;
			text-align: center;
			border-radius: 5px;
		}

		&__calculator-button
		{
			margin-top: 1rem;
			padding: .5rem 3rem;
			border: none;
			border-radius: 5px;
		}
	}

	.courses-visible
	{
		max-height: 200vh;
	}
	// end of courses page
}

.footer {
	width: 100vw;
	font-size: 0.9rem;
	text-align: center;
	color: var(--no-theme-text);

	&__facebook,
	&__owner {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
	}

	&__facebook {
		background-color: var(--footer-bg-1);

		.fa-brands {
			margin-top: 0.8rem;
			font-size: 3rem;
			color: #4267b2;
			cursor: pointer;
		}
	}

	&__owner {
		background-color: var(--footer-bg-2);
	}
}

@import 'small';
@import 'medium';
