@use 'colors' as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: sans-serif;
	color: var(--text);
	background-color: var(--background-color);
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1200px;
	background-image: var(--container-background);
	border: 5px ridge var(--main-color);
	border-radius: 8px;
	text-align: justify;
	line-height: 1.3rem;
}

.main-heading {
	margin-bottom: 2rem;
	color: var(--main-color);
	text-align: center;
	line-height: 2rem;
}

.second-heading {
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.3rem;
}

a {
	color: var(--text);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	width: 100vw;
	background-color: var(--header-bg);

	&__logo {
		display: flex;
		align-items: center;
	}

	&__image {
		margin-right: 1rem;
		height: 3rem;
	}

	&__text {
		font-size: 1.5rem;
		color: var(--no-theme-text);
	}

	&__options-link {
		padding: 0.5rem;
		color: var(--no-theme-text);
		font-size: 0.8rem;

		.fa-solid {
			margin-right: 0.5rem;
		}
	}
}

.nav {
	width: 100vw;
	background-color: var(--main-color);

	&__items,
	&__items-down {
		list-style: none;
		z-index: 10;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		max-width: 1200px;
	}

	&__item-main,
	&__item-down {
		padding: 1.5rem;
		text-align: center;
		color: var(--nav-text);
		transition: background-color 0.3s;
	}

	&__item-main {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 4rem;
		border-right: 4px ridge var(--red-color);
		opacity: 0.75;
		cursor: pointer;

		&--last {
			border: none;
		}

		.fa-solid {
			padding: 5px;
		}
	}

	&__item-main:hover {
		background-color: var(--red-color);
	}

	&__items-down {
		display: none;
		position: absolute;
		box-shadow: 0px 3px 10px var(--box-shadow);
	}

	&__item-down {
		display: block;
		padding: 0.8rem 0.5rem;
		background-color: var(--main-color);
		border-bottom: 4px ridge var(--red-color);

		&--last {
			border: none;
		}
	}

	&__item-down:hover {
		background-color: var(--red-color);
	}

	&__mobile {
		display: none;
	}
}

.nav-active {
	display: block;
}

.menu-item-active {
	font-weight: bold;
	text-shadow: 1px 1px 5px var(--text-shadow);
	opacity: 1;
}

.centered {
	text-align: center;
}

.main {
	margin: 3rem 0;

	// home page
	&__photo {
		display: inline-block;
		position: relative;
		margin-bottom: 2rem;
	}

	&__photo-image {
		max-width: 45vw;
	}

	&__photo-text {
		position: absolute;
		bottom: 4px;
		padding: 2rem;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: var(--no-theme-text);
		opacity: 0;
		transition: opacity 0.3s;
	}

	&__photo:hover &__photo-text {
		opacity: 1;
	}

	&__info {
		line-height: 2rem;

		.executive {
			font-weight: bold;
		}
	}

	&__info-first {
		margin-bottom: 1rem;
	}
	// end of home page

	.research,
	.labs {
		list-style: none;
	}

	// research and labs sections
	.analchem,
	.metallurgy {
		padding: 1rem;
		border-radius: 8px;
	}

	.analchem {
		margin-bottom: 2rem;
		background-color: var(--analchem-color);
	}

	.metallurgy {
		background-color: var(--metallurgy-color);
	}

	.research,
	.labs {
		&__item {
			margin-bottom: 1rem;
		}

		&__item:last-child {
			margin-bottom: 0;
		}
	}

	.labs {
		&__bold {
			font-weight: bold;
		}

		&__subitems {
			margin: 0.5rem 0 1rem 2rem;
			list-style: inside;
			font-size: 0.9rem;
		}

		&__subitems:last-child {
			margin: 0.5rem 0 0 2rem;
		}

		&__subitem {
			margin-bottom: 0.3rem;
		}
	}
	// end of research and labs sections

	// speciality page
	.speciality-basic {
		text-align: center;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.speciality-info {
		margin-top: 1rem;
	}

	.speciality-list {
		list-style: inside;
	}

	.speciality-list:last-of-type {
		margin-bottom: 2rem;
	}

	.speciality-more-info {
		display: flex;
		flex-direction: column;
		align-items: center;

		.speciality-img {
			position: relative;
			text-align: center;
		}

		.speciality-photo {
			width: 50%;
			transition: width 0.5s;
		}

		.fa-solid,
		.speciality-closing-info {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: rgba(0, 0, 0, 0.5);
		}

		.fa-solid {
			padding: 1rem;
			font-size: 4rem;
			cursor: pointer;
		}

		.speciality-closing-info {
			display: none;
			top: calc(50% - 1vh);
			font-size: 1.2rem;
			cursor: default;
		}

		.speciality-enlarge {
			width: 100%;
		}
	}
	// end of speciality page

	// courses page
	.courses {
		&__title,
		&__content-box {
			padding: 1rem;
			background-color: var(--main-color);
			border: 5px ridge var(--red-color);
			border-radius: 10px;
		}

		&__title {
			text-align: center;
			cursor: pointer;
		}

		&__content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s;
		}

		&__heading {
			margin-top: 1rem;
			font-size: 1.2rem;
		}

		&__heading:first-of-type {
			margin-top: 0;
		}

		&__subheading {
			margin-top: 1rem;
		}

		&__lectures {
			margin-top: 1rem;
		}

		&__item {
			list-style: none;
		}

		&__link {
			display: block;
			transition: color 0.5s;
		}

		&__link:hover {
			color: var(--red-color);
		}

		&__margin-top {
			margin-top: 1rem;
		}

		&__margin-bottom {
			margin-bottom: 1rem;
		}

		&__bold {
			font-weight: bold;
		}

		&__calculate-grade,
		&__calculator-result-info {
			display: flex;
			flex-direction: column;
			padding: 1.5rem;
			margin: 1rem auto 0;
			width: 300px;
			background-image: var(--calculator-background);
			text-align: center;
			border-radius: 10px;
			box-shadow: 2px 2px 5px var(--box-shadow);
		}

		&__calculator-result-info {
			align-items: center;
			background-image: var(--popup-background);
		}

		&__calculator-result {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s;
		}

		&__calculator-result-info {
			margin-top: 0;
		}

		&__calculator-heading {
			font-size: 1.2rem;
			font-weight: bold;
		}

		&__calculator {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 1rem;
		}

		&__calculator-grade {
			margin-bottom: 0.7rem;
			width: 40%;
			height: 1.5rem;
			text-align: center;
			border-radius: 5px;
		}

		&__calculator-button,
		&__close-result {
			margin-top: 1rem;
			padding: 0.5rem 3rem;
			width: 70%;
			background-color: var(--main-color);
			color: var(--text);
			font-weight: bold;
			font-size: 1rem;
			border: none;
			border-radius: 10px;
			cursor: pointer;
			transition: background-color 0.3s;
		}

		&__calculator-button:hover,
		&__close-result:hover {
			background-color: var(--red-color);
		}

		&__result {
			margin: 1rem 0;
			font-size: 2rem;
			font-weight: bold;
			color: var(--main-color);
		}

		&__explanation {
			display: none;
			margin-top: 1rem;
			font-size: 0.8rem;
			font-weight: bold;
			color: var(--red-color);
			line-height: 0.8rem;
		}

		&__download {
			margin-bottom: 1rem;

			&--shorter {
				margin-bottom: 1rem;
				width: 120px;
			}
		}

		&__table {
			margin: 1rem auto 0;
			border: 3px ridge var(--red-color);
			border-collapse: collapse;
			text-align: center;
			background-color: var(--table-color);
			overflow: hidden;

			th,
			tr,
			td {
				padding: 0.5rem;
				border: 3px ridge var(--red-color);
			}

			td:first-child {
				max-width: 6rem;
			}

			td:nth-child(2) {
				padding: 0 2rem;
			}

			.colored {
				height: 2rem;
				background-color: var(--red-color);
			}
		}
	}

	.courses-visible {
		max-height: 350vh;
	}

	.result-visible {
		max-height: 30vh;
	}

	.dot-list {
		list-style: inside;
	}
	// end of courses page

	// staff page
	.staff {
		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			margin-top: 5rem;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 3rem;
			padding: 0.5rem;
			width: 300px;

			&--no-margin {
				margin-bottom: 0;
			}
		}

		&__item-photo {
			margin-bottom: 1rem;
			width: 60%;
		}

		&__item-info {
			text-align: center;
		}

		&__name {
			margin-bottom: 1rem;
			font-weight: bold;
		}

		&__table,
		&__table-th,
		&__table-td {
			padding: .8vw 2vw;
			text-align: center;
			border: 3px ridge var(--red-color);
			border-collapse: collapse;
		}

		&__table {
			margin: 0 auto;
			background-color: var(--table-color);
			overflow: hidden;

			.wide {
				max-width: 35vw;
			}
		}
	}
	// end of staff page
}

.footer {
	margin-top: auto;
	width: 100vw;
	font-size: 0.9rem;
	text-align: center;
	color: var(--text);

	&__facebook,
	&__owner {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
	}

	&__facebook {
		background-color: var(--footer-bg-1);

		.fa-brands {
			margin-top: 0.8rem;
			font-size: 3rem;
			color: #4267b2;
			cursor: pointer;
		}
	}

	&__owner {
		background-color: var(--footer-bg-2);
	}
}

@import 'small';
@import 'medium';
