<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->

<svg
   version="1.1"
   id="Layer_1"
   viewBox="0 0 62.668044 100"
   xml:space="preserve"
   sodipodi:docname="flask-svgrepo-com.svg"
   width="31.334"
   height="50"
   inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
   id="defs41" /><sodipodi:namedview
   id="namedview39"
   pagecolor="#ffffff"
   bordercolor="#eeeeee"
   borderopacity="1"
   inkscape:pageshadow="0"
   inkscape:pageopacity="0"
   inkscape:pagecheckerboard="0"
   showgrid="false"
   inkscape:zoom="0.85156088"
   inkscape:cx="352.29425"
   inkscape:cy="100.40386"
   inkscape:window-width="1366"
   inkscape:window-height="705"
   inkscape:window-x="-8"
   inkscape:window-y="-8"
   inkscape:window-maximized="1"
   inkscape:current-layer="Layer_1"
/>
    <title>Logo - kolba okrągłodenna wypełniona roztworem</title>
    <g
    id="g2046"
    transform="matrix(0.19531212,0,0,0.19531212,-18.666175,0)"><path
        style="fill:#e0dddf"
        d="m 380.829,250.79 c -21.274,-26.317 -50.561,-45.373 -83,-54.133 V 8.472 c 0,-4.386 -3.555,-7.942 -7.942,-7.942 h -72.008 c -4.386,0 -7.942,3.556 -7.942,7.942 v 189.38 C 142.294,218.055 95.571,280.397 95.571,351.57 c 0,88.462 71.968,160.43 160.43,160.43 88.461,0 160.43,-71.968 160.43,-160.43 0,-36.589 -12.644,-72.38 -35.602,-100.78 z"
        id="path2" /><path
        style="fill:#c1bcbf"
        d="M 241.176,193.961 V 48.711 c 0,-2.924 2.371,-5.295 5.295,-5.295 H 297.83 V 8.472 c 0,-4.386 -3.556,-7.942 -7.942,-7.942 H 249.119 217.88 c -4.386,0 -7.942,3.556 -7.942,7.942 V 43.417 197.851 C 142.294,218.055 95.571,280.397 95.571,351.57 c 0,88.462 71.968,160.43 160.43,160.43 5.269,0 10.478,-0.263 15.619,-0.762 -81.159,-7.879 -144.811,-76.476 -144.811,-159.668 0,-69.895 45.059,-131.271 110.74,-152.589 2.17,-0.704 3.627,-2.74 3.627,-5.02 z"
        id="path4" /><path
        style="fill:#f3a712;fill-opacity:1"
        d="m 416.424,350.853 c -0.014,-2.985 -1.702,-5.712 -4.367,-7.056 -2.666,-1.344 -5.861,-1.08 -8.269,0.685 -43.421,31.814 -107.049,14.031 -132.389,4.909 -0.059,-0.021 -0.119,-0.042 -0.178,-0.062 -12.42,-4.139 -25.021,-9.442 -37.208,-14.568 -31.705,-13.337 -64.488,-27.128 -100.477,-23.931 -11.261,0.978 -22.089,4.44 -32.185,10.289 -2.078,1.203 -3.499,3.282 -3.867,5.654 -1.269,8.171 -1.912,16.513 -1.912,24.797 0,88.462 71.968,160.43 160.43,160.43 88.461,0 160.43,-71.968 160.43,-160.43 z"
        id="path6" /><g
        id="g16"
        style="fill:#e5880a;fill-opacity:1">
        <path
    style="fill:#e5880a;fill-opacity:1"
    d="m 126.81,351.57 c 0,-13.944 1.801,-27.547 5.194,-40.563 -10.71,1.15 -21.018,4.531 -30.654,10.113 -2.078,1.203 -3.499,3.282 -3.867,5.654 -1.269,8.171 -1.912,16.513 -1.912,24.797 0,88.462 71.968,160.43 160.43,160.43 5.269,0 10.478,-0.263 15.619,-0.762 -81.158,-7.88 -144.81,-76.477 -144.81,-159.669 z"
    id="path8" />
        <path
    style="fill:#e5880a;fill-opacity:1"
    d="m 167.579,388.633 c -13.722,0 -24.885,-11.163 -24.885,-24.885 0,-13.722 11.163,-24.885 24.885,-24.885 13.722,0 24.885,11.163 24.885,24.885 0,13.721 -11.163,24.885 -24.885,24.885 z"
    id="path10" />
        <path
    style="fill:#e5880a;fill-opacity:1"
    d="m 307.36,474.407 c -16.057,0 -29.121,-13.063 -29.121,-29.121 0,-16.058 13.064,-29.121 29.121,-29.121 16.057,0 29.121,13.063 29.121,29.121 0,16.058 -13.064,29.121 -29.121,29.121 z"
    id="path12" />
        <path
    style="fill:#e5880a;fill-opacity:1"
    d="m 208.878,464.877 c -13.722,0 -24.885,-11.163 -24.885,-24.885 0,-13.722 11.163,-24.885 24.885,-24.885 13.722,0 24.885,11.163 24.885,24.885 0,13.722 -11.163,24.885 -24.885,24.885 z"
    id="path14" />
    </g><g
        id="g22">
        <circle
    style="fill:#f9f8f9"
    cx="347.07001"
    cy="304.97601"
    r="35.474998"
    id="circle18" />
        <circle
    style="fill:#f9f8f9"
    cx="299.418"
    cy="242.498"
    r="23.297001"
    id="circle20" />
    </g><path
        style="fill:#e0dddf"
        d="M 305.771,31.768 H 204.113 c -8.772,0 -15.884,-7.112 -15.884,-15.884 v 0 C 188.229,7.112 195.34,0 204.113,0 h 101.659 c 8.772,0 15.884,7.112 15.884,15.884 v 0 c 0,8.772 -7.112,15.884 -15.885,15.884 z"
        id="path24" /><rect
        x="254.508"
        style="fill:#f9f8f9"
        width="28.59"
        height="31.768"
        id="rect26"
        y="0" /><g
        id="g36">
        <path
    style="fill:#837880"
    d="m 246.329,84.186 c 5.049,0 9.143,-3.556 9.143,-7.942 0,-4.386 -4.094,-7.942 -9.143,-7.942 0,0 -35.668,-0.16 -36.392,0 v 15.884 c 0.724,0.16 36.392,0 36.392,0 z"
    id="path28" />
        <path
    style="fill:#837880"
    d="m 246.329,113.837 c 5.049,0 9.143,-3.556 9.143,-7.942 0,-4.386 -4.094,-7.942 -9.143,-7.942 0,0 -35.668,-0.16 -36.392,0 v 15.884 c 0.724,0.16 36.392,0 36.392,0 z"
    id="path30" />
        <path
    style="fill:#837880"
    d="m 246.329,143.487 c 5.049,0 9.143,-3.556 9.143,-7.942 0,-4.386 -4.094,-7.942 -9.143,-7.942 0,0 -35.668,-0.16 -36.392,0 v 15.884 c 0.724,0.16 36.392,0 36.392,0 z"
    id="path32" />
        <path
    style="fill:#837880"
    d="m 246.329,173.138 c 5.049,0 9.143,-3.556 9.143,-7.942 0,-4.386 -4.094,-7.942 -9.143,-7.942 0,0 -35.668,-0.16 -36.392,0 v 15.884 c 0.724,0.159 36.392,0 36.392,0 z"
    id="path34" />
    </g></g>
</svg>
