---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
    mainHeading="Badania prowadzone w Katedrze Chemii Analitycznej i Metalurgii Chemicznej"
    title="Badania | Katedra chemii analitycznej i metalurgii chemicznej"
>
    <section>
        <h2>Zespół Chemii Analitycznej</h2>

        <p>
            Badania prowadzone przez pracowników Zespołu Chemii Analitycznej
            mieszczą się w obszarze chemii analitycznej, spektrometrii atomowej,
            jak również analizy i chemii żywności, czy fizykochemii plazmy i
            spektrochemii. Ich celem jest m. i.:
        </p>

        <ol>
            <li>
                1. Opracowanie i walidowanie nowych, alternatywnych metod analizy
                wielopierwiastkowej próbek środowiskowych (gleby, wody, ścieki,
                tkanki zwierzęce i roślinne) i żywności, w szczególności produktów
                pochodzenia naturalnego, napojów, nutraceutyków czy suplementów
                diety, leków pochodzenia naturalnego i syntetycznego, z
                zastosowaniem atomowej spektrometrii absorpcyjnej i emisyjnej, w
                których na etapie przygotowania próbek do pomiaru stężeń
                całkowitych pierwiastków wysokotemperaturowe rozkłady próbek
                zastępowane są technikami ekstrakcyjnymi, w tym ekstrakcją
                wspomaganą ultradźwiękami lub energią mikrofalową, ekstrakcją
                rozpuszczalnikową, ekstrakcją do fazy stałej, ekstrakcją
                enzymatyczną czy ekstrakcją do punktu zmętnienia. Stosowane są
                również rozkłady mokre w układach otwartych lub zamkniętych
                wspomaganych energią mikrofalową, czy spopielanie próbek. W
                badaniach stosowane są różne metody detekcji, tj. optyczna
                spektrometria emisyjna ze wzbudzeniem w plazmie sprzężonej
                indukcyjnie (ICP OES), atomowa spektrometria absorpcyjna z
                atomizacją w płomieniu (FAAS) lub kuwecie grafitowej (GFAAS).
                Metody te sprzęga się z układami do generowania wodorków (HG) lub
                zimnych par rtęci (CVG).
            </li>
            <li>
                2. Opracowanie i walidowanie metod analitycznych, które
                umożliwiają oznaczanie stężeń całkowitych pierwiastków śladowych,
                domieszkowych i głównych, jak również ich form fizykochemicznych
                (specjacyjnych) lub frakcji, w jakich występują w analizowanych
                próbkach. Opracowane metody są przydatne w ocenie jakości
                produktów i półproduktów, ocenie wartości odżywczych produktów
                żywnościowych, ocenie biodostępności i bioprzyswajalności
                pierwiastków (makro- i mikroelementów oraz pierwiastków śladowych)
                w produktach żywnościowych, (bio)monitoringu pierwiastków oraz
                ocenie ich mobilności czy toksyczności w środowisku.
            </li>
            <li>
                3. Diagnostyka spektroskopowa plazmowych i wyładowczych źródeł
                wzbudzenia, jak również opracowanie nowych, zminiaturyzowanych
                źródeł wzbudzenia, np. wyładowania jarzeniowego generowanego pod
                ciśnieniem atmosferycznym w kontakcie z cieczą, APGD; wyładowania
                barierowego, DBD), stosowanych w optycznej spektrometrii emisyjnej
                do pierwiastkowej analizy śladowej. Określana jest charakterystyka
                spektroskopowa i analityczna tych alternatywnych źródeł
                wzbudzenia, optymalizowane są zachodzące w nich procesy atomizacji
                i wzbudzenia celem poprawy ich charakterystyki analitycznej i
                praktycznego zastosowania w analizie spektrochemicznej.
            </li>
            <li>
                4. Analiza substancji krystalicznych i polikrystalicznych, a także
                określenie składu fazowego i struktur występujących w badanych
                próbkach metodą proszkowej dyfrakcji rentgenowskiej (XRD). Badane
                są m. in. farmaceutyki, stopy metali, numizmaty, materiały
                geologiczne i budowlane, popioły.
            </li>
            <li>
                5. Opracowanie niekonwencjonalnych metod syntezy nanocząstek
                metalicznych (Au, Ag, Au-Ag, Fe3O4) z udziałem zimnej plazmy
                atmosferycznej, naturalnych olejków eterycznych lub ekstraktów
                roślin. Otrzymane nanocząstki są charakteryzowane pod względem
                właściwości optycznych i granulometrycznych, czy
                przeciwbakteryjne.
            </li>
            <li>
                6. Zastosowanie plazm atmosferycznych w inżynierii środowiska i
                biomedycznej, np. do oczyszczania wód z zanieczyszczeń
                organicznych i nieorganicznych, eradykacji bakterii.
            </li>
        </ol>
    </section>

    <section>
        <h2>Zespół Metalurgii Chemicznej</h2>

        <p>
            Pracownicy Zespołu Metalurgii Chemicznej zajmują się następującą
            tematyką naukowo-badawczą:
        </p>

        <ol>
            <li>
                1. Badanie procesów fizykochemicznych związanych z termicznym
                przekształcaniem odpadów dla odzysku surowcowego, przede wszystkim
                metali. W szczególności badany jest proces zgazowania w atmosferze
                pary wodnej, pozwalający na pełne usunięcie form organicznych z
                przetwarzanych odpadów do fazy gazowej bez udziału powietrza i
                uzyskanie w ten sposób półproduktów o korzystnych właściwościach
                dla dalszej piro- lub hydrometalurgicznej przeróbki. Gaz procesowy
                może być, ze względu na potencjalnie dużą zawartość wodoru,
                wykorzystany jako źródło tego pierwiastka.
            </li>
            <li>
                2. Wyznaczanie właściwości termodynamicznych układów podwójnych
                LnX3-MX oraz LnX3-LnX3 (gdzie Ln - lantanowiec, M - litowiec, X -
                fluorowiec), takich jak entalpie i temperatury topnienia, przemian
                fazowych, pomiary ciepła molowego, ciepła rozpuszczania, entalpii
                mieszania, wyznaczanie wykresów fazowych, funkcji
                termodynamicznych, itp. Dodatkowo wykonuje się pomiary
                przewodnictwa elektrycznego stopionych soli.
            </li>
            <li>
                3. Badania nad zastosowaniem ługowania w warunkach atmosferycznych
                i hydrotermalnych do odzysku miedzi oraz metali towarzyszących z
                koncentratów produkowanych w zakładach KGHM Polska Miedź S. A.
                Hydrotermalne wydzielanie związków metali z roztworów po
                ługowaniu. Ekstrakcyjne wydzielanie metali z roztworów. Badania
                transportu jonów metali w układach z membraną ciekłą opartą.
            </li>
            <li>
                4. Zastosowanie podstawowych metod flotacyjnych do koncentracji
                jonów metali z roztworów wodnych (opracowanie skutecznej, szybkiej
                metody wydzielenia i/lub rozdzielenia radionuklidów ze skażonych
                roztworów wodnych czy z odpadów promieniotwórczych) oraz do
                selektywnego wydzielania jonów metali z roztworów po ługowaniu
                zużytych źródeł energii.
            </li>
            <li>
                5. Odzysk lantanowców z materiałów odpadowych (opracowanie procesu
                technologicznego przeróbki m. in. magnesów stałych z dysków
                twardych komputerów).
            </li>
            <li>
                6. Wytwarzanie cienkowarstwowych powłok tlenkowych metodą zol-żel
                na różnych podłożach. Badania obejmują syntezę wraz z
                optymalizacją warunków syntezy prowadzącą do otrzymania materiałów
                o różnych cechach użytkowych oraz określenie właściwości
                fizykochemicznych powłok. Opracowywane są powłoki tlenkowe do
                zastosowań w optyce (np. czujniki optyczne), o właściwościach
                ochronnych (ułatwiające czyszczenie ?easy to clean? coatings,
                antykorozyjne na podłożach metalicznych).
            </li>
            <li>
                7. Synteza i właściwości żywic polimerowych. Selektywne
                wydzielanie metali szlachetnych z zastosowaniem ekstrakcji
                rozpuszczalnikowej i sorpcji na żywicach polimerowych.
            </li>
        </ol>
    </section>
</BaseLayout>

<style lang="scss">
    p {
        font-weight: bold;
    }

    li:not(:last-child) {
        margin-block-end: 1rem;
    }
</style>
