---
import BaseLayout from '../layouts/BaseLayout.astro'
import Course from '../components/Course.astro'
import Download from '../components/svgs/Download.astro'
import ExternalLink from '../components/svgs/ExternalLink.astro'
---

<BaseLayout
    mainHeading="Studia II stopnia magisterskie"
    title="Studia II stopnia magisterskie | Katedra chemii analitycznej i metalurgii chemicznej"
>
    <div>
        <Course courseTitle="Spektroskopia (laboratorium)">
            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>Szczegółowy harmonogram ćwiczeń</span>
                <Download />
            </a>

            <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
            <ul>
                <li class="course__item">
                    Warunkiem zaliczenie kursu jest zaliczenie na pozytywną ocenę wszystkich
                    ćwiczeń. Na ocenę z danego ćwiczenia składa się:
                    <ul>
                        <li>ocena teoretycznego przygotowania studenta do wykonania
                            danego ćwiczenia, które będzie sprawdzane poprzez kartkówkę
                            bądź wypowiedź ustną,
                        </li>
                        <li>ocena ze sprawozdania (wymagania dotyczące sprawozdania
                            ustala prowadzący dane ćwiczenie). Sprawozdanie należy
                            oddać w ciągu 1 tygodnia od wykonania danego ćwiczenia.
                            Oddanie sprawozdania w późniejszym terminie skutkuje jego
                            oceną niedostateczną. Brak sprawozdania jest równoznaczny
                            z niezaliczeniem ćwiczenia.
                        </li>
                    </ul>
                </li>
                <li class="course__item">
                    Przed przystąpieniem do ćwiczeń Studenci powinni zapoznać się z instrukcjami.
                </li>
            </ul>

            <h2 class="course__subheading">Inne:</h2>
            <ul>
                <li class="course__item">
                    Na laboratorium należy przynieść nośnik pamięci (najlepiej płyta CD).
                </li>
            </ul>

            <h2 class="course__subheading">
                Instrukcje do ćwiczeń:
            </h2>
            <ul>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            1. Spektroskopia oscylacyjna I (dr T. Misiaszek).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            2. Spektroskopia oscylacyjna II (dr T. Misiaszek).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            3. Fotochromia (dr K. Janus).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            4. Wprowadzenie do jedno- i dwuwymiarowych technik NMR (dr S. Balicki).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            5. Analiza i interpretacja widm NMR 1D i 2D (dr S. Balicki).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            6. Analiza struktury rotacyjnej widma N2+ (dr hab. P. Jamróz).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            7. Wyznaczenie stałych atomowych metodą spektroskopii emisyjnej
                            (dr hab P. Jamróz, dr A. Dzimitrowicz).
                        </span>
                        <ExternalLink />
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Spektroskopia optyczna i rentgenowska w analityce (wykład)">
            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>Zagadnienia obowiązujące do egzaminu</span>
                <Download />
            </a>

            <h2 class="course__subheading">Program wykładu:</h2>
                <ul>
                    <li class="course__item">
                        1. Podział metod spektroskopowych, definicje, historia spektroskopii.
                    </li>
                    <li class="course__item">
                        2. Atom i cząsteczka dwuatomowa - struktura energetyczna,
                        termy, reguły wyboru, widmo.
                    </li>
                    <li class="course__item">
                        3. Ilościowy opis emisji i absorpcji promieniowania.
                        Parametry charakteryzujące widmo optyczne.
                    </li>
                    <li class="course__item">
                        4. Rejestracja promieniowania - detektory, elementy rozszczepiające
                        promieniowanie, monochromatory, polichromatory.
                    </li>
                    <li class="course__item">
                        5. Plazma - parametry opisujące plazmę, prawa plazmy, procesy atomizacji,
                        jonizacji i wzbudzenia. Spektroskopowa diagnostyka plazmy.
                        Źródła wzbudzenia.
                    </li>
                    <li class="course__item">
                        6. Atomowa spektrometria emisyjna - płomień, wyładowanie łukowe,
                        iskra, plazma prądu stałego, wyładowanie jarzeniowe.
                    </li>
                    <li class="course__item">
                        7. Spektrometria plazmy laserowej oraz plazmy indukowanej mikrofalowo.
                    </li>
                    <li class="course__item">
                        8. Atomowa spektrometria emisyjna indukcyjnie sprzężonej plazmy.
                    </li>
                    <li class="course__item">
                        9. Atomowa spektrometria absorpcyjna z atomizacją w płomieniu
                        i elektrotermiczną. Atomowa spektrometria fluorescencyjna.
                    </li>
                    <li class="course__item">
                        10. Kalibracja, granica wykrywalności, granica oznaczalności.
                        Materiały odniesienia. Interferencje addytywne i nieaddytywne
                        w metodach spektrometrii atomowej.
                    </li>
                    <li class="course__item">
                        11. Metody przygotowania próbek do analizy metodami spektrometrii
                        atomowej. Wybrane zastosowania analityczne metod spektrometrii optycznej.
                    </li>
                    <li class="course__item">
                        12. Widma rentgenowskie - charakterystyka i generowanie.
                    </li>
                    <li class="course__item">
                        13. Emisyjne i absorpcyjne widma rentgenowskie. Fluorescencja rentgenowska.
                    </li>
                    <li class="course__item">
                        14. Dyfrakcja rentgenowska. Zastosowania analityczne.
                    </li>
                    <li class="course__item">
                        15. Trendy i kierunki rozwoju analitycznej spektrometrii
                        atomowej i rentgenowskiej.
                    </li>
                </ul>

                <h2 class="course__subheading">Literatura:</h2>
                <p>Książki:</p>
                <ul>
                    <li class="course__item">
                        1. A. Cygański " Metody spektroskopowe w chemii analitycznej"
                        WNT Warszawa 1997.
                    </li>
                    <li class="course__item">
                        2. J. Sadlej "Spektroskopia molekularna" (seria Wykłady z chemii fizycznej),
                        WN-T Warszawa 2002.
                    </li>
                    <li class="course__item">
                        3. "Atomic Absorption and Emission Spectroscopy" seria ACOL.
                    </li>
                    <li class="course__item">
                        4. "Sample Pretreatment and Separation" seria ACOL.
                    </li>
                    <li class="course__item">
                        5. M. Pinta "Absorpcyjna spektrometria atomowa".
                        Zastosowania w analizie chemicznej. PWN Warszawa 1977.
                    </li>
                    <li class="course__item">
                        6. K. Dittrich "Absorpcyjna spektrometria atomowa" PWN Warszawa 1988.
                    </li>
                    <li class="course__item">
                        7. "Problemy jakości analizy śladowej w badaniach środowiska przyrodniczego"
                        pod red. A. Kabaty-Pendias i B. Szteke. Wydawnictwo Edukacyjne
                        Zofii Dobkowskiej, Warszawa 1998.
                    </li>
                    <li class="course__item">
                        8. "Encyclopedia of Analytical Chemistry" Vol. 11 Atomic Spectroscopy.
                        Ed. by R.A.Meyers. J.Wiley&Sons LTD, Chichester 2000.
                    </li>
                    <li class="course__item">
                        9. J.A.C. Broekaert "Analytical Atomic Spectrometry with
                        Flames and Plasmas". Wiley-VCH, Weinheim 2002.
                    </li>
                    <li class="course__item">
                        10. "Inductively Coupled Plasmas in Analytical Atomic Spectrometry",
                        ed. by A. Montaser and D.W. Golightly, VCH Publishers, Inc. 1987.
                    </li>
                    <li class="course__item">
                        11. H. Haken, H.C. Wolf, "Atomy i kwanty. Wprowadzenie do współczesnej
                        spektroskopii atomowej". PWN Warszawa 1997.
                    </li>
                    <li class="course__item">
                        12. M. Cullen, "Atomic spectroscopy in elemental analysis".
                        Blackwell Pub. Ltd 2004.
                    </li>
                </ul>
                <p class="course__subsubheading">Czasopisma:</p>
                <ul>
                    <li class="course__item">Analytica Chimica Acta</li>
                    <li class="course__item">Analytical and Bioanalytical Chemistry</li>
                    <li class="course__item">Analytical Chemistry</li>
                    <li class="course__item">Analytical Letters</li>
                    <li class="course__item">Analytical Sciences</li>
                    <li class="course__item">Analyst</li>
                    <li class="course__item">Applied Spectroscopy</li>
                    <li class="course__item">Chemia Analityczna (Warsaw)</li>
                    <li class="course__item">Journal of Analytical Atomic Spectrometry</li>
                    <li class="course__item">Microchimica Acta</li>
                    <li class="course__item">Microchemical Journal</li>
                    <li class="course__item">Spectrochimica Acta Part B (Atomic Spectroscopy)</li>
                    <li class="course__item">Spectroscopy Letters</li>
                    <li class="course__item">Talanta</li>
                    <li class="course__item">Trends in Analytical Chemistry</li>
                </ul>
        </Course>

        <Course courseTitle="Spektroskopia optyczna i rentgenowska w analityce (seminarium)">
            <p class="margin-bottom">
                Na seminarium studenci przygotowują dwie prezentacje dotyczące zagadnień
                związanych ze spektrometrią optyczną i rentgenowską oraz fizykochemią plazmy.
                Propozycje tematów podane są w tabelce. Każdy słuchacz powinien wybrać jeden
                z tematów oznaczonych numerami od 1 do 21 i jeden z tematów 1a-21a.
                Można zaproponować również „własny” temat.
            </p>
            <p class="margin-bottom">Obecność - możliwa jedna nieobecność z ważnych przyczyn!</p>

            <h2 class="course__subheading">Co powinna zawierać prezentacja i inne uwagi:</h2>
            <ul>
                <li class="course__item list-disc">
                    statystyczne ujęcie zagadnienia: ogólnie → mniej ogólnie → szczegółowo
                    (ostatnie 10 lat)
                </li>
                <li class="course__item list-disc">
                    początek (statystyka i wprowadzenie w tematykę prezentacji) – środek
                    (omówienie publikacji, wyniki) – koniec (podsumowanie, wnioski)
                </li>
                <li class="course__item list-disc">
                    w prezentacji powinien być uwzględniony min. 1 artykuł naukowy
                    opublikowany w czasopiśmie naukowym z listy filadelfijskiej
                    dotyczący danego zagadnienia – nie starszy niż 4–5 lat
                </li>
                <li class="course__item list-disc">
                    przy omawianiu publikacji należy podać: oryginalny tytuł, autorzy
                    (może być bez afiliacji), nazwa czasopisma, vol., rok, strony
                </li>
                <li class="course__item list-disc">
                    czas prezentacji ok. 20 minut, co oznacza 20-25 przeźroczy,
                    w zależności od treści
                </li>
                <li class="course__item list-disc">
                    poruszane zagadnienia należy omówić (nie odczytać) w sposób
                    klarowny i zrozumiały dla słuchaczy
                </li>
                <li class="course__item list-disc">
                    plan prezentacji – opcjonalnie
                </li>
                <li class="course__item list-disc">
                    na zakończenie źródła, z których korzystano wraz ze stronami WWW
                </li>
                <li class="course__item list-disc">
                    w ocenie uwzględniane są: wartość merytoryczna (głównie),
                    sposób prezentacji i grafika
                </li>
            </ul>

            <h2 class="course__subheading">Czego nie powinna zawierać prezentacja:</h2>
            <ul>
                <li class="course__item list-disc">
                    szczegółowych danych np. technicznych przyrządu (moc, natężenie prądu)
                    czy sposobu przygotowania próbki (stężenia, objętości, ...)
                    o ile nie jest to bezpośrednio związane z tematem
                </li>
                <li class="course__item list-disc">
                    zbyt dużej ilości "zdobień"
                </li>
                <li class="course__item list-disc">
                    gęstego tekstu
                </li>
                <li class="course__item list-disc">
                    schematów i rysunków bez opisu, tabelek bez komentarza
                </li>
            </ul>

            <p class="margin-bottom">
                Proszę o przesłanie prezentacji pocztą elektroniczną przed (min.1h) seminarium!
            </p>

            <h2 class="course__subheading">Źródła do wykorzystania:</h2>
            <ul class="margin-bottom">
                <li class="course__item list-disc">
                    Encyklopedia Chemii Analitycznej (w języku angielskim) – biblioteka, czytelnia
                </li>
                <li class="course__item list-disc">
                    Bazy: Chemical Abstracts, Scopus
                </li>
                <li class="course__item list-disc">
                    Czasopisma: Spectrochimica Acta Part B, Analytica Chimica Acta,
                    Journal of Analytical Atomic Spectrometry, Analytical and
                    Bioanalytical Chemistry, Trends in Analytical Chemistry, Talanta,
                    Spectroscopy Letters, Applied Spectroscopy, Analytical Chemistry,
                    Microchimica Acta, Microchemical Journal, Analytical Sciences, i inne.
                </li>
            </ul>

            <h2 class="course__subheading">Spektrometria optyczna i rentgenowska w analityce – propozycje tematów:</h2>
            <table class="course__table">
                <thead>
                    <th>Lp.</th>
                    <th>Temat</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Plazma w warunkach naturalnych</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Badania spektroskopowe obiektów astrofizycznych</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Materiały odniesienia w analizie pierwiastkowej i specjacyjnej</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Nowoczesne metody wzbogacania analitów w połączeniu z
                            detekcją metodami spektrometrii atomowej
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Miniaturyzacja źródeł plazmowych i spektrometrów</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Metody spektrometrii atomowej lub rentgenowskiej w kryminalistyce</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            Oznaczanie halogenów w żywności i próbkach biologicznych
                            metodami spektrometrii atomowej
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>
                            Analiza pierwiastkowa (bio)paliw stałych i ciekłych
                            metodami spektrometrii atomowej
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Analiza pierwiastkowa włosów metodami spektrometrii atomowej</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            Badanie próbek geologicznych metodami spektrometrii
                            atomowej i rentgenowskiej
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>
                            Analiza specjacyjna i/lub frakcjonowana z wykorzystaniem
                            metod spektrometrii atomowej
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>
                            Analiza substancji stałych w postaci zawiesin metodami
                            spektrometrii atomowej

                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>
                            Plazma indukowana laserowo (LIBS, LIPS) – procesy plazmowe,
                            charakterystyka widma

                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Przygotowanie próbek do analizy metodą LIBS</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>LIBS/LIPS w analizie pierwiastkowej próbek ciekłych</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Ablacja laserowa jako metoda atomizacji w spektrometrii atomowej</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>
                            Metody spektrometrii atomowej – zastosowania w analizie dzieł sztuki,
                            obiektów zabytkowych itp.
                        </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>LIBS i GD OES w analizie powierzchni (depth profile analysis)</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>
                            Bezpośrednia analiza próbek stałych metodą atomowej
                            spektrometrii absorpcyjnej
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Interferencje w metodzie ICP MS – przykłady, zapobieganie</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Interferencje w atomowej spektrometrii absorpcyjnej</td>
                    </tr>
                    <tr>
                        <td class="colored" colspan="2"></td>
                    </tr>
                    <tr>
                        <td>1a</td>
                        <td>Modyfikatory w GF AAS – zasada działania, przykłady</td>
                    </tr>
                    <tr>
                        <td>2a</td>
                        <td>Interferencje w atomowej spektrometrii emisyjnej</td>
                    </tr>
                    <tr>
                        <td>3a</td>
                        <td>Plazmowe źródła jonizacji w spektrometrii mas</td>
                    </tr>
                    <tr>
                        <td>4a</td>
                        <td>ICP MS w analizie pierwiastkowej próbek klinicznych</td>
                    </tr>
                    <tr>
                        <td>5a</td>
                        <td>Oznaczanie niemetali metodami spektrometrii atomowej/molekularnej</td>
                    </tr>
                    <tr>
                        <td>6a</td>
                        <td>
                            Plazma mikrofalowa i jej modyfikacje – zastosowanie
                            w analizie pierwiastkowej
                        </td>
                    </tr>
                    <tr>
                        <td>7a</td>
                        <td>
                            Spektroskopowa diagnostyka plazmy – wyznaczane parametry, metody,
                            porównanie parametrów różnych źródeł plazmowych
                        </td>
                    </tr>
                    <tr>
                        <td>8a</td>
                        <td>
                            Wstrzykowa analiza przepływowa w połączeniu
                            z metodami spektrometrii optycznej
                        </td>
                    </tr>
                    <tr>
                        <td>9a</td>
                        <td>
                            Wykorzystanie absorpcyjnych widm cząsteczek
                            dwuatomowych w oznaczaniu pierwiastków
                        </td>
                    </tr>
                    <tr>
                        <td>10a</td>
                        <td>
                            Wyładowanie jarzeniowe z ciekłą katodą/anodą pod
                            ciśnieniem atmosferycznym – zastosowania analityczne
                        </td>
                    </tr>
                    <tr>
                        <td>11a</td>
                        <td>Zastosowania przemysłowe plazmy</td>
                    </tr>
                    <tr>
                        <td>12a</td>
                        <td>
                            Zastosowanie absorpcyjnej spektrometrii rentgenowskiej
                            w analityce (XANES, EXAFS)
                        </td>
                    </tr>
                    <tr>
                        <td>13a</td>
                        <td>Metody SRIXE (SR XRF) i PIXE – podstawy i zastosowania</td>
                    </tr>
                    <tr>
                        <td>14a</td>
                        <td>Zastosowanie dyfrakcji rentgenowskiej w analityce</td>
                    </tr>
                    <tr>
                        <td>15a</td>
                        <td>Metody fluorescencji rentgenowskiej i przykłady zastosowań</td>
                    </tr>
                    <tr>
                        <td>16a</td>
                        <td>Zastosowanie metod rentgenowskich w przemyśle metalurgicznym</td>
                    </tr>
                    <tr>
                        <td>17a</td>
                        <td>Analiza specjacyjna z wykorzystaniem metod rentgenowskich (XPS)</td>
                    </tr>
                    <tr>
                        <td>18a</td>
                        <td>
                            Techniki łączone z zastosowaniem metod spektrometrii optycznej
                            lub rentgenowskiej (GC, LC, CE, itp)
                        </td>
                    </tr>
                    <tr>
                        <td>19a</td>
                        <td>
                            Zastosowanie wyładowania barierowego (DBD – direct barrier discharge)
                            w analityce
                        </td>
                    </tr>
                    <tr>
                        <td>20a</td>
                        <td>
                            Elektrochemiczne i/lub z wykorzystaniem promieniowania UV generowanie
                            par/lotnych indywiduów chemicznych
                        </td>
                    </tr>
                    <tr>
                        <td>21a</td>
                        <td>
                            Chemiczne generowanie par – zastosowanie w analizie pierwiastkowej
                            w połączeniu z metodami spektrometrii atomowej (AAS, OES, MS lub AFS)
                        </td>
                    </tr>
                </tbody>
            </table>
        </Course>

        <Course courseTitle="Spektroskopia optyczna i rentgenowska w analityce (laboratorium)">
            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>Harmonogram - laboratorium grupa I, II, III i IV</span>
                <Download />
            </a>

            <h2 class="course__subheading">Program laboratorium:</h2>
            <ul>
                <li class="course__item">
                    1. Analiza rentgenowska (dr A. Leśniewicz)
                </li>
                <li class="course__item">
                    2. Analityczna spektrometria emisyjna (dr hab. M. Wełna, dr hab. A. Szymczycha)
                </li>
                <li class="course__item">
                    3. Analityczna spektrometria absorpcyjna
                    (dr hab. P. Jamróz, prof. dr hab. P. Pohl)
                </li>
            </ul>

            <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
            <ul>
                <li class="course__item">
                    1. Warunkiem zaliczenie kursu jest zaliczenie wszystkich ćwiczeń.
                </li>
                <li class="course__item">
                    2. Na ocenę z danego ćwiczenia składa się ocena ze sprawozdania
                    (wymagania dotyczące sprawozdania ustala prowadzący dane ćwiczenie).
                </li>
                <li class="course__item">
                    3. Sprawozdanie należy oddać w terminie zaproponowanym przez prowadzącego
                    ćwiczenia. Sprawozdanie powinno być w formie raportu wraz z krótkim
                    przeglądem literaturowym. Oddanie sprawozdania w późniejszym terminie
                    skutkuje jego oceną niedostateczną. Brak sprawozdania jest równoznaczny
                    z niezaliczeniem ćwiczenia.
                </li>
                <li class="course__item">
                    4. Przed przystąpieniem do ćwiczeń Studenci powinni zapoznać się z instrukcjami.
                </li>
            </ul>

            <h2 class="course__subheading">Inne:</h2>
            <ul>
                <li class="course__item">
                    Na laboratorium należy przynieść nośnik pamięci, fartuch laboratoryjny,
                    rękawice lateksowe, dziennik, kalkulator oraz wybrane próbki analizowane
                    (do ustalenia z prowadzącymi ćwiczenia).
                </li>
            </ul>

            <h2 class="course__subheading">
                Instrukcje do ćwiczeń:
            </h2>
            <ul>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            1. Analiza rentgenowska
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            2. Analityczna Spektrometria Emisyjna (ICP-OES)
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            3. Analityczna Spektrometria Absorpcyjna (ASA)
                        </span>
                        <ExternalLink />
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Analiza środowiskowa, żywności i leków (wykład)">
            <h2 class="course__subheading">Wykłady do pobrania:</h2>
            <ul>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W1.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 1</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W2.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 2</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W3.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 3</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W4.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 4</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W5.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 5</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W6.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 6</span>
                        <ExternalLink />
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Analiza środowiskowa, żywności i leków (laboratorium)">
            <p class="margin-bottom">
                Zajęcia odbywają się we środy w pokojach numer: 325 i 222 (budynek A-3);
                trwają od godziny 11.15 do godziny 15.00; na laboratorium obowiązują:
                okulary, fartuch i dziennik laboratoryjny.
            </p>

            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Harmonogram ćwiczeń w semestrze zimowym 2022/2023 i zasady zaliczenia kursu
                </span>
                <ExternalLink />
            </a>

            <h2 class="course__subheading">Instrukcje do poszczególnych ćwiczeń:</h2>
            <ul>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W1.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            1. Analiza suplementów diety - oznaczanie żelaza.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W2.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            2. Analiza ilościowa substancji czynnych w wybranych
                            preparatach farmaceutycznych.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W3.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            3. Oznaczenie zawartości pektyn w marmoladach i dżemach.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W4.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            4. Oznaczanie szczawianów w wybranych używkach.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W5.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            5. Pośrednie oznaczanie chlorków i siarczanów metodą ASA.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W6.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            6. Oznaczanie ortofosforanów rozpuszczonych metodą kolorymetryczną.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W1.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            7. Zastosowanie metod spektrofotometrycznych do oznaczania
                            witaminy E w żywności.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W2.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            8. Analiza cukrów.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W3.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            9. Oznaczanie kofeiny.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W4.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            10. Ocena przydatności tłuszczów do spożycia - wyznaczanie
                            liczb tłuszczowych.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W5.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            11. Oznaczanie małych ilości azotanów (III) metodą riwanolową.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W6.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            12. Oznaczanie związków polifenolowych w próbkach pochodzenia
                            roślinnego.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/AŻL_W6.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            13. Oznaczanie Ca, K, Mg i Na w wodach z wykorzystaniem metody
                            OES ze wzbudzeniem w mikroplazmie.
                        </span>
                        <ExternalLink />
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Ekstrakcja i chromatografia w analityce (wykład)">
            <h2 class="course__subheading">Wykłady do pobrania:</h2>
            <ul>
                <li class="course__item">
                    <a
                        href="/documents/EChA_W1.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 1</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/EChA_W2.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 2</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/EChA_W3.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 3</span>
                        <ExternalLink />
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/EChA_W4.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>Wykład 4</span>
                        <ExternalLink />
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Ekstrakcja i chromatografia w analityce (laboratorium)">
            <p class="margin-bottom">
                Zajęcia odbywają się w poniedziałki; trwają od godziny 11.15 do godziny
                15.00 lub od 15.15 do 18.45; na laboratorium obowiązują: okulary, fartuch
                i dziennik laboratoryjny.
            </p>

            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Harmonogram ćwiczeń
                </span>
                <ExternalLink />
            </a>

            <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
            <ul class="margin-bottom">
                <li class="course__item">
                    1. Zaliczenie wszystkich ćwiczeń.
                </li>
                <li class="course__item">
                    2. Ocena końcowa stanowiła będzie średnią arytmetyczną z ocen za
                    poszczególne ćwiczenia wystawionych na podstawie sprawozdań z ćwiczeń.
                </li>
                <li class="course__item">
                    3. Sprawozdanie z wykonanego ćwiczenia należy oddać w terminie
                    uzgodnionym z prowadzącym ćwiczenie.
                </li>
                <li class="course__item">
                    4. Brak sprawozdania równoznaczny jest z niezaliczeniem ćwiczenia.
                </li>
                <li class="course__item">
                    5. Nieobecność na ćwiczeniach należy odrobić w terminie ustalonym z
                    Prowadzącym ćwiczenie, najpóźniej w ostatnich dwóch tygodniach semestru.
                </li>
            </ul>

            <p class="bold">
                UWAGA: sprawy organizacyjne zostaną omówione w terminie pierwszego
                ćwiczenia - przed przystąpieniem do wykonywania eksperymentów.
            </p>
        </Course>

        <Course courseTitle="Seminarium dyplomowe (seminarium)">
            <p class="margin-bottom">
                Celem seminarium dyplomowego jest pomoc studentom w przygotowaniu pracy
                dyplomowej oraz jak najlepszej prezentacji wyników pracy w trakcie egzaminu
                dyplomowego. Na zajęciach studenci mają możliwość zaprezentowania założeń
                i rezultatów swojej pracy magisterskiej.
            </p>

            <h2 class="course__subheading">Każda osoba przygotowuje 2 prezentacje:</h2>
            <ol class="margin-bottom">
                <li class="course__item">
                    1) dotycząca aktualnego stanu wiedzy na dany temat (przegląd literatury)
                    oraz określenia celu i zakresu zaplanowanych/wykonanych badań
                </li>
                <li class="course__item">
                    2) zawierająca wyniki badań, ich dyskusję i wnioski (ta prezentacja
                    powinna stanowić podstawę Państwa wystąpienia podczas obrony)
                </li>
            </ol>

            <p class="margin-bottom">
                Oceniane będą 2 prezentacje przedstawione na seminarium dyplomowym;
                wpływ na ocenę ma również obecność i aktywność na zajęciach. Zajęcia
                będą realizowane w czwartki od 27 kwietnia (po 2h); zajęcia kończą się 22
                czerwca (1h). Obecność na zajęciach jest obowiązkowa. Przewidywanych jest
                po 6 prezentacji (10-12 min) na zajęciach dwugodzinnych. Ostatnia godzina
                zajęć będzie poświęcona głównie omówieniu organizacji i przebiegu
                egzaminu dyplomowego.
            </p>

            <p>
                Przed przystąpieniem do seminarium proszę o zapoznanie się z poradnikami dotyczącymi
                pisania i redagowania prac dyplomowych.
            </p>
        </Course>
    </div>
</BaseLayout>

<style lang="scss">
    @use '../sass/mixins' as *;

    .course {
        &__item {
            list-style: none;

            ul {
                padding-inline-start: 1rem;

                li {
                    list-style: disc;
                }
            }
        }

        &__link {
            @include flex(5px);
            justify-content: start;
        }

        &__subheading {
            margin-bottom: 0;
            text-shadow: none;
            text-align: justify;
        }

        &__table {
			margin-inline: auto;
			border: 3px ridge var(--red-color);
			border-collapse: collapse;
			text-align: center;
			background-color: var(--yellow-color);

			th,
			tr,
			td {
				padding: 0.5rem;
				border: 3px ridge var(--red-color);
			}

			.colored {
				height: 2rem;
				background-color: var(--red-color);
			}
		}
    }

    ul:not(:last-of-type), .margin-bottom {
        margin-block-end: 1rem;
    }

    .bold {
        font-weight: 700;
    }

    ul:has(.list-disc) {
        padding-inline-start: 1rem;
    }

    .list-disc {
        list-style: disc;
    }
</style>
