---
import BaseLayout from '../layouts/BaseLayout.astro'
import Course from '../components/Course.astro'
---

<BaseLayout
    mainHeading="Studia I stopnia inżynierskie"
    title="Studia I stopnia inżynierskie | Katedra chemii analitycznej i metalurgii chemicznej"
>
    <div>
        <Course courseTitle="Nauczanie zdalne">
            <ul>
                <li class="course__item">Redoksymetria 3</li>
                <li class="course__item">Redoksymetria 4</li>
                <li class="course__item">Redoksymetria 5</li>
                <li class="course__item">Redoksymetria 11</li>
                <li class="course__item">Redoksymetria 14</li>
                <li class="course__item">Redoksymetria 17</li>
                <li class="course__item">Redoksymetria 21</li>
                <li class="course__item">Redoksymetria 23</li>
                <li class="course__item">Redoksymetria 26</li>
                <li class="course__item">Redoksymetria 34</li>
                <li class="course__item">Redoksymetria 38</li>
                <li class="course__item">Wzór Nersta</li>
                <li class="course__item">Stała REDOKS</li>
                <li class="course__item">Alkacymetria 2</li>
                <li class="course__item">Alkacymetria 5</li>
                <li class="course__item">Alkacymetria 8</li>
                <li class="course__item">Alkacymetria 10</li>
                <li class="course__item">Alkacymetria 14</li>
                <li class="course__item">Alkacymetria 18</li>
                <li class="course__item">Alkacymetria 24</li>
                <li class="course__item">Alkacymetria 25</li>
                <li class="course__item">Alkacymetria 31</li>
                <li class="course__item">Alkacymetria 37</li>
                <li class="course__item">Alkacymetria - krzywa miareczkowania</li>
                <li class="course__item">Grawimetria 39</li>
                <li class="course__item">Grawimetria 43</li>
                <li class="course__item">Grawimetria 50</li>
                <li class="course__item">Stężenia 2</li>
                <li class="course__item">Stężenia 4</li>
                <li class="course__item">Stężenia 7</li>
                <li class="course__item">Stężenia 14</li>
            </ul>
        </Course>

        <Course courseTitle="Podstawy chemii analitycznej (wykład)">
            <a
                href="/documents/PChA_karta_przedmiotu.pdf"
                target="_blank"
                class="course__link"
            >
                <span>Karta przedmiotu</span>
                <img
                    src="/img/download.svg"
                    alt="Kliknij tutaj aby pobrać"
                >
            </a>

            <p class="course__lectures">Wykłady do pobrania:</p>
            <li class="course__item">
                <a
                    href="/presentations/PChA_1.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 1</span>
                    <img
                        src="/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_2.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 2</span>
                    <img
                        src="/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_3.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 3</span>
                    <img
                        src="/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_4.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 4</span>
                    <img
                        src="/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_5.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 5</span>
                    <img
                        src="/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
        </Course>

        <Course courseTitle="Podstawy chemii analitycznej (laboratorium)">
            <h2 class="course__subheading">Program kursu:</h2>
                <ul>
                    <li class="course__item">
                        1. Czynności wstępne w laboratorium. Zapoznanie z zasadami
                        pracy w laboratorium analizy ilościowej, techniką analizy
                        wagowej i miareczkowej.
                    </li>
                    <li class="course__item">
                        2. Alkacymetryczne oznaczanie zawartości HCl w roztworze
                        (nastawianie miana HCl na węglan sodu) i oznaczanie NaOH - 4
                        godz.
                    </li>
                    <li class="course__item">
                        3. Analiza chemiczna roztworów - oznaczanie Fe i Ni (analiza
                        wagowa żelaza po oddzieleniu niklu, redoksymetryczne
                        oznaczanie żelaza, kompleksometryczne oznaczanie Fe i Ni) - 12
                        godz.
                    </li>
                    <li class="course__item">
                        4. Analiza chemiczna wody (oznaczanie twardości wody oraz
                        tlenu w wodzie, oznaczanie chlorków oraz NH4+) - 8 godz.
                    </li>
                </ul>

                <h2 class="course__subheading">Podręczniki:</h2>
                <p>Literatura podstawowa:</p>
                <ul>
                    <li class="course__item">
                        1. A. Cygański, Chemiczne metody analizy ilościowej. Wyd. 5.
                        WNT, Warszawa 1999.
                    </li>
                    <li class="course__item">
                        2. J. Minczewski, Z. Marczenko, Chemia analityczna t. I i II,
                        PWN, Warszawa 2001.
                    </li>
                    <li class="course__item">
                        3. T. Lipiec, Z.S. Szmal, Chemia analityczna z elementami
                        analizy instrumentalnej, Wyd. PZWL, Warszawa 1996.
                    </li>
                    <li class="course__item">
                        4. D.A. Skoog, D.M. West, F.J. Holler, S.R. Crouch, Podstawy
                        chemii analitycznej. Przekład z ang. Wyd. PWN, Warszawa 2006.
                    </li>
                </ul>
                <p class="course__subsubheading">Literatura uzupełniająca:</p>
                <ul>
                    <li class="course__item">
                        1. Ćwiczenia rachunkowe z chemii analitycznej. Praca zbiorowa
                        pod red. Z. Galusa, PWN Warszawa 1993.
                    </li>
                    <li class="course__item">
                        2. A. Cygański, J. Krystek, B. Ptaszyński, Obliczenia z
                        chemicznych i instrumentalnych metod analizy, Politechnika
                        Łódzka, Łódź 1996.
                    </li>
                    <li class="course__item">
                        3. M. Wesołowski, K. Szefer, D. Zimna, Zbiór zadań z analizy
                        chemicznej, WNT Warszawa 1997.
                    </li>
                </ul>

                <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
                <ul>
                    <li class="course__item">
                        1. Zaliczone pozytywnie analizy, tzn. oddane sprawozdania
                        zawierające wynik analizy z błędem w granicach ustalonych dla
                        danego oznaczenia. Dopuszczalne jest uzyskanie oceny
                        niedostatecznej z jednego oznaczenia.
                    </li>
                    <li class="course__item">
                        2. Uzyskanie z kartkówek, w sumie, co najmniej 50% możliwych
                        do zdobycia punków, lub zaliczenie pozytywnie kolokwium z
                        całości materiału. Kartkówki trwają 15-20 minut. Za każdą
                        kartkówkę można zdobyć maksymalnie 3 punkty. Nieobecność na
                        kartkówce oznacza zaliczenie jej na zero punków. W przypadku
                        usprawiedliwionej nieobecności (kilkudniowe zwolnienie
                        lekarskie) dopuszcza się zaliczanie indywidualne kartkówki
                        (termin uzgodniony z prowadzącym).
                    </li>
                </ul>

                <h2 class="course__subheading">Ocena końcowa:</h2>
                <p>
                    Ocena = <sup>2</sup>/<sub>3</sub> * średnia arytmetyczna ocen z
                    analiz + <sup>1</sup>/<sub>3</sub> * średnia arytmetyczna ocen z
                    kartkówek i ew. kolokwiów (liczą się oceny ze wszystkich
                    terminów)
                </p>
                <p class="margin-bottom">+/- 0.5 oceny od prowadzącego</p>

                <h2 class="course__subheading">Inne:</h2>
                <ul>
                    <li class="course__item">
                        1. Przed przystąpieniem do części praktycznej Studenci powinni
                        zapoznać się z instrukcjami dostępnymi na stronie Katedry
                        Chemii Analitycznej Instrukcje zawierają także zestawienie
                        zagadnień obowiązujących na kartkówkach.
                    </li>
                    <li class="course__item">
                        2. Na laboratorium obowiązują: okulary i fartuch ochronny,
                        dziennik laboratoryjny oraz kalkulator.
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_sprawozdania.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>3. Wymagania dotyczące sprawozdań z ćwiczeń.</span>
                            <img
                                src="/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        4. Inne problemy nie ujęte przez powyższe zasady rozstrzygną
                        na drodze uzgodnienia prowadzący i kierownik przedmiotu.
                    </li>
                </ul>

                <h2 class="course__subheading">
                    Instrukcje do poszczególnych ćwiczeń wraz z zagadnieniami:
                </h2>
                <ul>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_cw_1.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                                Ćwiczenie 1. Nastawianie miana HCl na węglan sodu i
                                oznaczanie NaOH.
                            </span>
                            <img
                                src="/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_cw_2.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                            Ćwiczenie 2. Oznaczanie zawartości żelaza i niklu w roztworze.
                            </span>
                            <img
                                src="/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_cw_3.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                                Ćwiczenie 3. Analiza chemiczna wody.
                            </span>
                            <img
                                src="/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_zadania.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                                Lista zadań obliczeniowych.
                            </span>
                            <img
                                src="/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                </ul>
        </Course>

        <Course courseTitle="Fundamentals of analytical chemistry (laboratory)">
            <div>
                <a
                    href="/documents/Safety.doc"
                    target="_blank"
                    class="course__link"
                >
                    <span>
                        Laboratory safety rules and regulations
                    </span>
                    <img
                        src="/img/download.svg"
                        alt="Kliknij tutaj aby pobrać"
                    >
                </a>
                <a
                    href="/documents/Literature.pdf"
                    target="_blank"
                    class="course__link margin-bottom"
                >
                    <span>
                        Literature
                    </span>
                    <img
                        src="/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </div>

            <h2 class="course__subheading">
                Successful completion of the course requirements:
            </h2>
            <ul>
                <li class="course__item">
                    1. Attendance is mandatory for each experiment listed in the
                    schedule. Student will not be allowed to pass the course
                    without completing all laboratory experiments. This includes a
                    written pre-lab quiz, performance of the experiment in the
                    laboratory, and a written report for each lab.
                </li>
                <li class="course__item">
                    2. Lab experiments may require the full four hours to be
                    completed. If Student will be more than 20 minutes late to lab
                    or miss lab without a valid written excuse, he/she will not be
                    allowed to perform the experiment. If Student will miss a lab
                    due to illness, must notify the Teacher within 24 hours of the
                    lab period. A doctor's note is indispensable to corroborate
                    illness and it is a condition for making up the lab. If
                    Student needs to miss a lab for a valid reason other than an
                    illness, he/she must inform Teacher the week before the lab
                    that will be missed. Valid reasons do NOT include needing more
                    time to do schoolwork or social obligations. A document must
                    be brought to corroborate the absence.
                </li>
                <li class="course__item">
                    3. Failure to complete all experiments, including prelab
                    quizzes, will result in a failing grade for the course. Each
                    quiz is worth 3 points maximum and to complete the course
                    student needs 6 points, minimum. Experiments are graded based
                    on the accuracy of the reported results.
                </li>
            </ul>

            <h2 class="course__subheading">Others:</h2>
            <ul>
                <li class="course__item">
                    1. Personal safety equipment: goggles, gloves, long pants,
                    closed toe shoes, etc. and a lab notebook are mandatory.
                </li>
                <li class="course__item">
                    2. Students are expect to come prepared to conduct the
                    experiments.
                </li>
            </ul>

            <h2 class="course__subheading">Course's materials for download:</h2>
            <ul>
                <li class="course__item">
                    <a
                        href="/documents/FAC_ex_1.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            File 1. Acid-base titrations: standardization of a
                            hydrochloric acid solution by anhydrous sodium carbonate and
                            determination of sodium hydroxide concentration.
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/FAC_ex_2.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            File 2. Gravimetric analysis of Fe as Fe2O3, redox
                            titration of Fe with K2Cr2O7, indirect complexometric
                            titration of Fe and Ni with EDTA.
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="/documents/FAC_ex_3.pdf"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            File 3. Analysis of water: determination of hardness of
                            water, determination of chloride in water by the Mohr
                            method, determination of dissolved oxygen in water
                            (Winkler's method), spectrophotometric determination of
                            ammoniacal nitrogen in water.
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Chemia analityczna (ćwiczenia)">
            <h2 class="course__subheading">Program ćwiczeń:</h2>
            <ul>
                <li class="course__item">
                    1. Sposób prowadzenia i warunki zaliczenia kursu. Analiza
                    wagowa (grawimetria) - zasady analizy wagowej, obliczanie
                    wyników analiz (stechiometria), obliczanie odważek
                    analitycznych, obliczenia z uwzględnieniem wilgotności
                    materiałów, błędy w analizie wagowej (4 godz.).
                </li>
                <div>
                    <a href="#" class="course__link" download="safety_rules">
                        Pobierz plik
                    </a>
                </div>
                <li class="course__item">
                    2. Przygotowanie roztworów o określonym stężeniu, roztwory
                    mianowane - naczynia miarowe, wyrażanie stężeń w ppm, ppb,
                    <sup>g</sup>/<sub>cm<sup>3</sup></sub
                    >; rozcieńczanie roztworów (1 godz.).
                    <div>
                        <a href="#" class="course__link" download="safety_rules">
                            Pobierz plik
                        </a>
                    </div>
                </li>
                <li class="course__item">
                    3. Zasady analizy objętościowej. Alkacymetria - krzywe
                    miareczkowania mocnych i słabych kwasów i zasad, obliczanie pH
                    punktu końcowego i równowagowego, obliczanie wyników
                    miareczkowań, błędy oznaczeń alkacymetrycznych. Miareczkowanie
                    z dwoma wskaźnikami (6 godz.).
                    <div>
                        <a href="#" class="course__link" download="safety_rules">
                            Pobierz plik
                        </a>
                    </div>
                </li>
                <li class="course__item">
                    4. Kierunek i równowaga reakcji redoks. Redoksymetria. Krzywe
                    miareczkowań redoksymetrycznych. Obliczanie potencjału redoks
                    w punkcie końcowym i równowagowym. Manganometria,
                    chromianometria, jodometria, cerometria, bromianometria.
                    Obliczenia wyników miareczkowań i błędów (7 godz.).
                    <div>
                        <a href="#" class="course__link" download="safety_rules">
                            Pobierz plik
                        </a>
                    </div>
                </li>
                <li class="course__item">
                    5. Kompleksometria. Wpływ pH na rekcje kompleksowania.
                    Miareczkowanie roztworem EDTA. Krzywe miareczkowania,
                    obliczanie wyników analiz kompleksometrycznych. Twardość wody.
                    Wpływ kompleksowania na rozpuszczalność osadów (4 godz.).
                    <div>
                        <a href="#" class="course__link" download="safety_rules">
                            Pobierz plik
                        </a>
                    </div>
                </li>
                <li class="course__item">
                    6. Miareczkowanie strąceniowe (precypitometria).
                    Argentometria. Krzywe miareczkowania. Obliczanie wyników
                    analiz argentometrycznych (metoda Mohra, Vohlarda) (4 godz.).
                    <div>
                        <a href="#" class="course__link" download="safety_rules">
                            Pobierz plik
                        </a>
                    </div>
                </li>
                <li class="course__item">
                    7. Podstawy oceny statystycznej wyników analitycznych (2
                    godz.).
                    <div>
                        <a href="#" class="course__link" download="safety_rules">
                            Pobierz plik
                        </a>
                    </div>
                </li>
                <li class="course__item">
                    8. Powtórzenie materiału (2 godz.).
                </li>
            </ul>

            <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
            <ul>
                <li class="course__item">
                    Warunkiem zaliczenia kursu jest uzyskanie co najmniej 20
                    punktów (kolokwia, obecność, aktywność). Punkty za kolokwia
                    można uzyskać poprzez kolokwia połówkowe (częściowe) lub
                    kolokwia zaliczeniowe z całości materiału. Planowane są dwa
                    częściowe kolokwia - pierwsze po zrealizowaniu tematu nr 3,
                    drugie zaś po zrealizowaniu tematu nr 6. Za każde kolokwium
                    można otrzymać 20 punktów, przy czym aby punkty za kolokwia
                    częściowe mogły być sumowane, minimalna liczba punktów z
                    każdego kolokwium nie może być mniejsza niż 5.
                </li>
                <li class="course__item">
                    Za obecności i aktywność na zajęciach można uzyskać
                    maksymalnie 4 punkty.
                </li>
                <li class="course__item">
                    Studenci, którzy nie uzyskają w ciągu semestru wymaganej
                    liczby punktów mogą zaliczać kurs w ramach dwóch kolokwiów
                    zaliczeniowych z całości materiału, które odbędą się pod
                    koniec semestru.
                </li>
            </ul>

            <h2 class="course__subheading">Podręczniki:</h2>
            <ul>
                <li class="course__item">
                    1. Ćwiczenia rachunkowe z chemii analitycznej".
                    Praca zbiorowa pod red. Z. Galusa, PWN Warszawa 1993.
                </li>
                <li class="course__item">
                    2. D.A. Skoog, D.M. West, F.J. Holler, S.R. Crouch,
                    "Podstawy chemii analitycznej" PWN Warszawa 2006 (t.1) i 2007 (t.2).
                </li>
                <li class="course__item">
                    3. A. Cygański, "Chemiczne metody analizy ilościowej". WNT Warszawa 1992.
                </li>
                <li class="course__item">
                    4. E. Szłyk i inni, "Ilościowa analiza chemiczna.
                    Metody wagowe i miareczkowe". Wyd. Uniwersytetu im. M. Kopernika, Toruń 2003.
                </li>
                <li class="course__item">
                    5. A. Cygański, J. Krystek, B. Ptaszyński, "Obliczenia z chemicznych
                    i instrumentalnych metod analizy". Politechnika Łódzka, Łódź 1996.
                </li>
            </ul>
        </Course>

        <Course courseTitle="Chemia analityczna (laboratorium)">
            <p class="margin-bottom">Kurs realizowany w wymiarze 4h/tyg. w tygodniach 8-15.</p>
            <h2 class="course__subheading">Program kursu:</h2>
            <ul>
                <li class="course__item">
                    1. Zajęcia organizacyjne. Oznaczanie zawartości Na2CO3 i NaOH w roztworze
                    (miareczkowanie alkacymetryczne HCl) (4 godz.).
                </li>
                <li class="course__item">
                    2. Nastawianie miana roztworu Na2S2O3 na mianowany roztwór KBrO3
                    oraz oznaczanie kwasu solnego metodą jodometryczną (4 godz.).
                </li>
                <li class="course__item">
                    3. Oznaczanie śladowych ilości Fe<sup>3+</sup> obok Cu<sup>2+</sup> (8 godz.).
                </li>
                <li class="course__item">
                    4. Analiza chemiczna dolomitu - oznaczanie wybranych składników (12 godz.).
                </li>
            </ul>

            <h2 class="course__subheading">Zasady zaliczenia kursu:</h2>
            <p>Wymagania:</p>
            <ul>
                <li class="course__item">
                    1. Zaliczone pozytywnie analizy, tzn. oddane sprawozdania zawierające
                    wynik analizy z błędem w granicach ustalonych dla danego oznaczenia.
                    Dopuszczalne jest uzyskanie oceny niedostatecznej z jednego oznaczenia.
                    Nie zaliczone analizy należy powtórzyć (można powtarzać tylko raz)
                    w ramach ćwiczeń na własnej pracowni. Nie istnieje możliwość odrabiania
                    ćwiczeń z nieusprawiedliwioną nieobecnością.
                </li>
                <li class="course__item">
                    2. Uzyskanie z kartkówek, w sumie, co najmniej 50% możliwych do zdobycia
                    punków, lub zaliczenie pozytywnie kolokwium (z całości materiału),
                    które odbędzie się w ostatnim tygodniu zajęć. Kolokwium traktowane jest
                    jako poprawa kartkówek, druga i ostatnia szansa zaliczenia materiału
                    obowiązującego na kartkówkach. Kartkówki trwają 15-20 minut. Za kartkówki
                    można zdobyć maksymalnie 12 punktów (3 x 4 pkt). Nieobecność na kartkówce
                    oznacza zaliczenie jej na zero punków. W przypadku usprawiedliwionej
                    nieobecności (kilkudniowe zwolnienie lekarskie) dopuszcza się zaliczanie
                    indywidualne kartkówki (termin uzgodniony z prowadzącym).
                </li>
            </ul>

            <p>Ocena końcowa:</p>
            <p>
                Ocena = <sup>2</sup>/<sub>3</sub> * średnia arytmetyczna ocen z
                analiz + <sup>1</sup>/<sub>3</sub> * średnia arytmetyczna ocen z
                kartkówek i ew. kolokwiów (liczą się oceny ze wszystkich
                terminów)
            </p>
            <p class="margin-bottom">+/- 0.5 oceny od prowadzącego</p>

            <h2 class="course__subheading">Inne:</h2>
            <ul>
                <li class="course__item">
                    1. Przed przystąpieniem do części praktycznej Studenci
                    powinni zapoznać się z instrukcjami dostępnymi na stronie
                    Katedry Chemii Analitycznej. Instrukcje zawierają także
                    zestawienie zagadnień obowiązujących na kartkówkach.
                </li>
                <li class="course__item">
                    2. Na laboratorium obowiązują: okulary i fartuch ochronny,
                    dziennik laboratoryjny oraz kalkulator.
                </li>
                <li class="course__item">
                    3. Inne problemy nie ujęte przez powyższe zasady rozstrzygną
                    na drodze uzgodnienia prowadzący i kierownik przedmiotu.
                </li>
            </ul>

            <h2 class="course__subheading">Instrukcje do poszczególnych ćwiczeń wraz z zagadnieniami:</h2>
            <ul>
                <li class="course__item">
                    <a href="#" class="course__link">
                        Ćwiczenie 1. Oznaczanie zawartości Na2CO3 i NaOH w
                        roztworze (miareczkowanie alkacymetryczne HCl).
                    </a>
                </li>
                <li class="course__item">
                    <a href="#" class="course__link">
                        Ćwiczenie 2. Nastawianie miana roztworu Na2S2O3 na mianowany
                        roztwór KBrO3 oraz oznaczanie kwasu solnego metodą jodometryczną.
                    </a>
                </li>
                <li class="course__item">
                    <a href="#" class="course__link">
                        Ćwiczenie 3. Oznaczanie śladowych ilości Fe<sup>3+</sup>
                        obok Cu<sup>2+</sup> (spektrofotometria, kompleksonometria).
                    </a>
                </li>
                <li class="course__item">
                    <a href="#" class="course__link">
                        Ćwiczenie 4. Analiza chemiczna dolomitu.
                    </a>
                </li>
            </ul>

            <h2 class="course__subheading">Podręczniki:</h2>
            <p>Literatura podstawowa:</p>
            <ul>
                <li class="course__item">
                    1. A. Cygański, Chemiczne metody analizy ilościowej. Wyd. 5. WNT,
                    Warszawa 1999.
                </li>
                <li class="course__item">
                    2. J. Minczewski, Z. Marczenko, Chemia analityczna t. I i II, PWN,
                    Warszawa 2001.
                </li>
                <li class="course__item">
                    3. T. Lipiec, Z.S. Szmal, Chemia analityczna z elementami analizy
                    instrumentalnej, Wyd. PZWL, Warszawa 1996.
                </li>
                <li class="course__item">
                    4. D.A. Skoog, D.M. West, F.J. Holler, S.R. Crouch,
                    Podstawy chemii analitycznej. Przekład z ang. Wyd. PWN, Warszawa 2006.
                </li>
            </ul>
            <p class="course__margin-top">Literatura uzupełniająca:</p>
            <ul>
                <li class="course__item">
                    1. Ćwiczenia rachunkowe z chemii analitycznej.
                    Praca zbiorowa pod red. Z. Galusa, PWN Warszawa 1993.
                </li>
                <li class="course__item">
                    2. A. Cygański, J. Krystek, B. Ptaszyński, Obliczenia z chemicznych
                    i instrumentalnych metod analizy, Politechnika Łódzka, Łódź 1996.
                </li>
                <li class="course__item">
                    3. M. Wesołowski, K. Szefer, D. Zimna,
                    Zbiór zadań z analizy chemicznej, WNT Warszawa 1997.
                </li>
            </ul>
        </Course>

        <Course courseTitle="Analiza chemiczna i śladowa (wykład)">
            <a
                href="#"
                target="_blank"
                class="course__link"
            >
                <span>
                    Zagadnienia do egzaminu - semestr zimowy 2017/18.
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>
        </Course>

        <Course courseTitle="Analiza chemiczna i śladowa (laboratorium)">
            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Szczegółowy harmonogram ćwiczeń.
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>

            <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
            <ul>
                <li class="course__item">
                    1. Zaliczenie wszystkich ćwiczeń i pozytywnie napisane kolokwium zaliczeniowe.
                </li>
                <li class="course__item">
                    2. Na każdych zajeciach odbędzie się krótki sprawdzian tzw.
                    "kartkówka". Kartkówki trwają 15 minut. Za każdą z nich można
                    otrzymać 3 punkty (w sumie 36 punktów ze wszystkich kartkówek).
                    Uzyskanie co najmniej 50% ze wszystkich kartkówek, tj. 18 punktów,
                    zwalnia studenta z pisania kolokwium zaliczeniowego.
                    <ul>
                        <li>każda nieusprawiedliwiona (w ciagu tygodnia) nieobecność
                            bedzie równoznaczna z uzyskaniem z kartkówki 0 punktów
                            bez możliwosci jej poprawienia
                        </li>
                        <li>w razie usprawiedliwionej nieobecności na zajeciach
                            (zwolnienie lekarskie) istnieje możliwość napisania kartkówki
                            w terminie uzgodnionym z prowadzącym dane ćwiczenie
                        </li>
                        <li>kolokwium zaliczeniowe (z całości materiału), odbedzie
                            się w drugiej połowie czerwca i traktowane jest jako poprawa
                            kartkówek, druga i ostatnia szansa zaliczenia materiału
                            obowiązującego na kartkówkach
                        </li>
                    </ul>
                </li>
                <li class="course__item">
                    3. Formę zaliczenia ćwiczenia (część praktyczna) ustala
                    prowadzący dane ćwiczenie. Sprawozdanie/konspekt z ćwiczenia
                    należy oddać w ciagu 1 tygodnia; sprawozdanie/konspekt oddany później
                    powoduje zaliczenie danego ćwiczenia na ocenę ndst; brak sprawozdania/konspektu
                    jest równoznaczne z niezaliczeniem ćwiczenia.
                </li>
                <li class="course__item">
                    4. Przed przystapieniem do ćwiczeń studenci powinni
                    zapoznać się z instrukcjami dla danego ćwiczenia.
                </li>
                <li class="course__item">
                    5. Ocena koncowa: <sup>1</sup>/<sub>2</sub> x średnia
                    arytmetyczna z ocen za poszczególne ćwiczenia
                    (sprawozdania/konspekty) + <sup>1</sup>/<sub>2</sub> x srednia ocen
                    z kartkówek; wszystkie oceny, w tym niedostateczne, brane są pod uwagę
                    przy obliczaniu średnich.
                </li>
            </ul>
        </Course>

        <Course courseTitle="Analiza próbek środowiskowych i przemysłowych (laboratorium)">
            <a
                href="#"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Szczegółowy harmonogram ćwiczeń.
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>

            <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
            <ul>
                <li class="course__item">
                    1. Zaliczenie wszystkich ćwiczeń (usprawiedliwioną nieobecność
                    na ćwiczeniach należy odrobić w terminie ustalonym z prowadzącym
                    ćwiczenie, najpóniej w ostatnich dwóch tygodniach trwania kursu,
                    czyli 10 tygodniu semestru; można odrobić najwyżej 1 ćwiczenie).
                </li>
                <li class="course__item">
                    2. Zaliczenie kolokwium - przed przystąpieniem do części praktycznej
                    na każdych zajęciach odbędzie się krótki sprawdzian, tzw. "kartkówka";
                    za każdą kartkówkę można otrzymać 3 punkty (w sumie 36 punktow ze
                    wszystkich kartkówek); uzyskanie co najmniej 18 punktów z kartkówek
                    zwalnia studenta z pisania kolokwium zaliczeniowego; każda nieusprawiedliwiona
                    (w ciagu tygodnia) nieobecość będzie równoznaczna z uzyskaniem z kartkówki
                    0 punktów bez możliwości jej poprawienia; w razie usprawiedliwionej nieobecności
                    na zajęciach (zwolnienie lekarskie) istnieje możliwość napisania kartkówki
                    w terminie uzgodnionym z prowadzącym dane ćwiczenie.
                    <p>
                        UWAGA! Przed przystąpieniem do ćwiczeń Studenci powinni
                        zapoznać się z instrukcjami.
                    </p>
                </li>
                <li class="course__item">
                    Oddanie sprawozdania w ciągu 1 tygodnia od wykonania ćwiczenia;
                    sprawozdanie oddane później powoduje zaliczenie danego ćwiczenia na ocenę ndst;
                    brak sprawozdania jest równoznaczny z niezaliczeniem ćwiczenia.
                    <p>
                        UWAGA! Ocena końcowa: <sup>2</sup>/<sub>3</sub> x średnia arytmetyczna
                        z ocen za poszczególne ćwiczenia + <sup>1</sup>/<sub>3</sub> x średnia
                        ocen z kolokwiów; wszystkie oceny, w tym niedostateczne,
                        brane są pod uwagę przy obliczaniu średnich.
                    </p>
                </li>
            </ul>

            <h2 class="course__subheading">Inne:</h2>
            <ul>
                <li class="course__item">
                    1. Na laboratorium obowiązują: okulary, fartuch i dziennik laboratoryjny.
                </li>
                <li class="course__item">
                    2. Na laboratorium należy przynieść nośnik pamięci
                    (najlepiej płyta CD lub pendrive bez wirusów).
                </li>
            </ul>

            <h2 class="course__subheading">
                Instrukcje do ćwiczeń:
            </h2>
            <ul>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 1. Analiza statystyczna wyników pomiarów
                            (prof. W. Zierkiewicz).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 2. Oznaczanie kwasowości czynnej i potencjalnej gleby
                            (prof. A. Szymczycha-Madeja).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 3. Analiza właściwości fizyko-chemicznych wód różnego
                            pochodzenia uzdatnianych metodą sorpcji (dr I. Rutkowska).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 4. Metody ekstrakcji do fazy stałej w analityce środowiskowej
                            i żywności (mgr A. de Rosset).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 5. Detekcja i usuwanie CO<sub>2</sub> metodą
                            zmiennociśnieniowej adsorpcji (PSA) (xr A. Moyseowicz).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 6. Wyznaczanie współczynnika podziału n-oktanol/woda
                            dla wybranych chemicznych zanieczyszczeń środowiska (dr A. Leśniewicz).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 7. Określenie przybliżonej zawartości etanolu w benzynie
                            na podstawie widm Ramana (dr M. Malik-Gajewska).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 8. Spektrofotometryczne oznaczanie różnych form chromu
                            w próbkach środowiskowych (dr A. Dzimitrowicz/mgr D. Terefinko).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 9. Zastosowanie polimerów funkcjonalnych do usuwania/odzysku
                            metali z surowców wtórnych (dr M. Pilśniak-Rabiega).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 10. Usuwanie barwników z wody metodą adsorpcji
                            na węglu aktywnym (dr K. Kordek-Khalil).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 11. Ekstrakcja i rozdział barwników roślinnych-pomiar
                            i analiza widm absorpcji UV-Vis (prof. M. Wełna).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 12. Identyfikacja ropopochodnych zanieczyszczeń ziemi
                            metoda spektroskopii w podczerwieni (dr M. Malik-Gajewska).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
                <li class="course__item">
                    <a
                        href="#"
                        target="_blank"
                        class="course__link"
                    >
                        <span>
                            Ćwiczenie 13. Oznaczenie zawartości rutenu w odpadac
                            przemysłowych (dr K. Gręda).
                        </span>
                        <img
                            src="/img/external-link.svg"
                            alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                        >
                    </a>
                </li>
            </ul>
        </Course>

        <Course courseTitle="Metrologia i walidacja metod analitycznych (ćwiczenia)">
            <a
                href="/documents/MWMA_prezentacja.pdf"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Materiały - cyfry znaczace i przyblizenia
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>

            <p>Kartkówki (przykładowe):</p>
            <a
                href="/documents/MWMA_K1.pdf"
                target="_blank"
                class="course__link"
            >
                <span>
                    Kartkówka 1
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>
            <a
                href="/documents/MWMA_K2.pdf.pdf"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Kartkówka 2
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>

            <p>Materiały do zajęć:</p>
            <a
                href="/documents/MWMA_Z12.pdf"
                target="_blank"
                class="course__link"
            >
                <span>
                    Zajęcia 1 i 2
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>
            <a
                href="/documents/MWMA_Z23.pdf"
                target="_blank"
                class="course__link"
            >
                <span>
                    Zajęcia 3 i 4
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>
            <a
                href="/documents/MWMA_Z34.pdf"
                target="_blank"
                class="course__link margin-bottom"
            >
                <span>
                    Zajęcia 5 i 6
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>

            <a
                href="/documents/MWMA_KP.pdf"
                target="_blank"
                class="course__link"
            >
                <span>
                    Karta przedmiotu
                </span>
                <img
                    src="/img/external-link.svg"
                    alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                >
            </a>
        </Course>
    </div>
</BaseLayout>

<style lang="scss">
    @use '../sass/mixins' as *;

    .course {
        &__item {
            list-style: none;

            ul {
                padding-inline-start: 1rem;

                li {
                    list-style: disc;
                }
            }
        }

        &__lectures {
            margin-top: 1rem;
        }

        &__link {
            @include flex(5px);
            justify-content: start;
            transition: color 0.5s;

            &:hover {
                color: var(--red-color);
            }

            &[download] {
                margin-bottom: 1rem;
            }
        }

        &__subheading {
            margin-bottom: 0;
            text-shadow: none;
            text-align: justify;
        }
    }

    ul, .margin-bottom {
        margin-block-end: 1rem;
    }
</style>
