---
import BaseLayout from '../layouts/BaseLayout.astro'
import Course from '../components/Course.astro'
---

<BaseLayout
    mainHeading="Studia I stopnia inżynierskie (niestacjonarne)"
    title="Studia niestacjonarne | Katedra chemii analitycznej i metalurgii chemicznej"
>
    <div>
        <Course courseTitle="Podstawy chemii analitycznej (wykład)">
            <a
                href="/documents/PChA_karta_przedmiotu.pdf"
                target="_blank"
                class="course__link"
            >
                <span>Karta przedmiotu</span>
                <img
                    src="/Website_ZChA/img/download.svg"
                    alt="Kliknij tutaj aby pobrać"
                >
            </a>

            <p class="course__lectures">Wykłady do pobrania:</p>
            <li class="course__item">
                <a
                    href="/presentations/PChA_1.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 1</span>
                    <img
                        src="/Website_ZChA/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_2.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 2</span>
                    <img
                        src="/Website_ZChA/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_3.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 3</span>
                    <img
                        src="/Website_ZChA/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item">
                <a
                    href="/presentations/PChA_4.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 4</span>
                    <img
                        src="/Website_ZChA/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>
            <li class="course__item margin-bottom">
                <a
                    href="/presentations/PChA_5.ppt"
                    target="_blank"
                    class="course__link"
                >
                    <span>Wykład 5</span>
                    <img
                        src="/Website_ZChA/img/external-link.svg"
                        alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                    >
                </a>
            </li>

            <h2 class="course__subheading">Podręczniki:</h2>
                <p>Literatura podstawowa:</p>
                <ul>
                    <li class="course__item">
                        1. A. Cygański, Chemiczne metody analizy ilościowej. Wyd. 5.
                        WNT, Warszawa 1999.
                    </li>
                    <li class="course__item">
                        2. J. Minczewski, Z. Marczenko, Chemia analityczna t. I i II,
                        PWN, Warszawa 2001.
                    </li>
                    <li class="course__item">
                        3. T. Lipiec, Z.S. Szmal, Chemia analityczna z elementami
                        analizy instrumentalnej, Wyd. PZWL, Warszawa 1996.
                    </li>
                    <li class="course__item">
                        4. D.A. Skoog, D.M. West, F.J. Holler, S.R. Crouch, Podstawy
                        chemii analitycznej. Przekład z ang. Wyd. PWN, Warszawa 2006.
                    </li>
                </ul>
                <p class="course__subsubheading">Literatura uzupełniająca:</p>
                <ul>
                    <li class="course__item">
                        1. Ćwiczenia rachunkowe z chemii analitycznej. Praca zbiorowa
                        pod red. Z. Galusa, PWN Warszawa 1993.
                    </li>
                    <li class="course__item">
                        2. A. Cygański, J. Krystek, B. Ptaszyński, Obliczenia z
                        chemicznych i instrumentalnych metod analizy, Politechnika
                        Łódzka, Łódź 1996.
                    </li>
                    <li class="course__item">
                        3. M. Wesołowski, K. Szefer, D. Zimna, Zbiór zadań z analizy
                        chemicznej, WNT Warszawa 1997.
                    </li>
                </ul>
        </Course>

        <Course courseTitle="Podstawy chemii analitycznej (laboratorium)">
            <h2 class="course__subheading">Program kursu:</h2>
                <ul>
                    <li class="course__item">
                        1. Czynności wstępne w laboratorium. Zapoznanie z zasadami
                        pracy w laboratorium analizy ilościowej, techniką analizy
                        wagowej i miareczkowej.
                    </li>
                    <li class="course__item">
                        2. Alkacymetryczne oznaczanie zawartości HCl w roztworze
                        (nastawianie miana HCl na węglan sodu) i oznaczanie NaOH - 4
                        godz.
                    </li>
                    <li class="course__item">
                        3. Analiza chemiczna roztworów - oznaczanie Fe i Ni (analiza
                        wagowa żelaza po oddzieleniu niklu, redoksymetryczne
                        oznaczanie żelaza, kompleksometryczne oznaczanie Fe i Ni) - 12
                        godz.
                    </li>
                    <li class="course__item">
                        4. Analiza chemiczna wody (oznaczanie twardości wody oraz
                        tlenu w wodzie, oznaczanie chlorków oraz NH4+) - 8 godz.
                    </li>
                </ul>

                <h2 class="course__subheading">Podręczniki:</h2>
                <p>Literatura podstawowa:</p>
                <ul>
                    <li class="course__item">
                        1. A. Cygański, Chemiczne metody analizy ilościowej. Wyd. 5.
                        WNT, Warszawa 1999.
                    </li>
                    <li class="course__item">
                        2. J. Minczewski, Z. Marczenko, Chemia analityczna t. I i II,
                        PWN, Warszawa 2001.
                    </li>
                    <li class="course__item">
                        3. T. Lipiec, Z.S. Szmal, Chemia analityczna z elementami
                        analizy instrumentalnej, Wyd. PZWL, Warszawa 1996.
                    </li>
                    <li class="course__item">
                        4. D.A. Skoog, D.M. West, F.J. Holler, S.R. Crouch, Podstawy
                        chemii analitycznej. Przekład z ang. Wyd. PWN, Warszawa 2006.
                    </li>
                </ul>
                <p class="course__subsubheading">Literatura uzupełniająca:</p>
                <ul>
                    <li class="course__item">
                        1. Ćwiczenia rachunkowe z chemii analitycznej. Praca zbiorowa
                        pod red. Z. Galusa, PWN Warszawa 1993.
                    </li>
                    <li class="course__item">
                        2. A. Cygański, J. Krystek, B. Ptaszyński, Obliczenia z
                        chemicznych i instrumentalnych metod analizy, Politechnika
                        Łódzka, Łódź 1996.
                    </li>
                    <li class="course__item">
                        3. M. Wesołowski, K. Szefer, D. Zimna, Zbiór zadań z analizy
                        chemicznej, WNT Warszawa 1997.
                    </li>
                </ul>

                <h2 class="course__subheading">Warunki zaliczenia kursu:</h2>
                <ul>
                    <li class="course__item">
                        1. Zaliczone pozytywnie analizy, tzn. oddane sprawozdania
                        zawierające wynik analizy z błędem w granicach ustalonych dla
                        danego oznaczenia. Dopuszczalne jest uzyskanie oceny
                        niedostatecznej z jednego oznaczenia.
                    </li>
                    <li class="course__item">
                        2. Uzyskanie z kartkówek, w sumie, co najmniej 50% możliwych
                        do zdobycia punków, lub zaliczenie pozytywnie kolokwium z
                        całości materiału. Kartkówki trwają 15-20 minut. Za każdą
                        kartkówkę można zdobyć maksymalnie 3 punkty. Nieobecność na
                        kartkówce oznacza zaliczenie jej na zero punków. W przypadku
                        usprawiedliwionej nieobecności (kilkudniowe zwolnienie
                        lekarskie) dopuszcza się zaliczanie indywidualne kartkówki
                        (termin uzgodniony z prowadzącym).
                    </li>
                </ul>

                <h2 class="course__subheading">Ocena końcowa:</h2>
                <p>
                    Ocena = <sup>2</sup>/<sub>3</sub> * średnia arytmetyczna ocen z
                    analiz + <sup>1</sup>/<sub>3</sub> * średnia arytmetyczna ocen z
                    kartkówek i ew. kolokwiów (liczą się oceny ze wszystkich
                    terminów)
                </p>
                <p class="margin-bottom">+/- 0.5 oceny od prowadzącego</p>

                <h2 class="course__subheading">Inne:</h2>
                <ul>
                    <li class="course__item">
                        1. Przed przystąpieniem do części praktycznej Studenci powinni
                        zapoznać się z instrukcjami dostępnymi na stronie Katedry
                        Chemii Analitycznej Instrukcje zawierają także zestawienie
                        zagadnień obowiązujących na kartkówkach.
                    </li>
                    <li class="course__item">
                        2. Na laboratorium obowiązują: okulary i fartuch ochronny,
                        dziennik laboratoryjny oraz kalkulator.
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_sprawozdania.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>3. Wymagania dotyczące sprawozdań z ćwiczeń.</span>
                            <img
                                src="/Website_ZChA/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        4. Inne problemy nie ujęte przez powyższe zasady rozstrzygną
                        na drodze uzgodnienia prowadzący i kierownik przedmiotu.
                    </li>
                </ul>

                <h2 class="course__subheading">
                    Instrukcje do poszczególnych ćwiczeń wraz z zagadnieniami:
                </h2>
                <ul>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_cw_1.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                                Ćwiczenie 1. Nastawianie miana HCl na węglan sodu i
                                oznaczanie NaOH.
                            </span>
                            <img
                                src="/Website_ZChA/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_cw_2.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                            Ćwiczenie 2. Oznaczanie zawartości żelaza i niklu w roztworze.
                            </span>
                            <img
                                src="/Website_ZChA/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_cw_3.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                                Ćwiczenie 3. Analiza chemiczna wody.
                            </span>
                            <img
                                src="/Website_ZChA/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                    <li class="course__item">
                        <a
                            href="/documents/PChA_zadania.pdf"
                            target="_blank"
                            class="course__link"
                        >
                            <span>
                                Lista zadań obliczeniowych.
                            </span>
                            <img
                                src="/Website_ZChA/img/external-link.svg"
                                alt="Kliknij tutaj aby otworzyć link w nowej karcie"
                            >
                        </a>
                    </li>
                </ul>
        </Course>
    </div>
</BaseLayout>

<style lang="scss">
    @use '../sass/mixins' as *;

    .course {
        &__item {
            list-style: none;

            ul {
                padding-inline-start: 1rem;

                li {
                    list-style: disc;
                }
            }
        }

        &__lectures {
            margin-top: 1rem;
        }

        &__link {
            @include flex(5px);
            justify-content: start;
            transition: color 0.5s;

            &:hover {
                color: var(--red-color);
            }
        }

        &__subheading {
            margin-bottom: 0;
            text-shadow: none;
            text-align: justify;
        }
    }

    ul, .margin-bottom {
        margin-block-end: 1rem;
    }
</style>
