---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
    mainHeading="Laboratoria znajdujące się w Katedrze Chemii Analitycznej i Metalurgii Chemicznej"
    title="Laboratoria | Katedra chemii analitycznej i metalurgii chemicznej"
>
    <section>
        <h2>Zespół Chemii Analitycznej</h2>

        <p>W strukturze laboratoriów Zespołu Chemii Analitycznej znajdują się:</p>

        <ol>
            <li>
                <span>1. Laboratoria chemiczne</span>
                - docelowo dostosowane do przygotowania próbek do analiz,
                głównie śladowych, a także służące do przechowywania odczynników
                i próbek analitycznych. Na wyposażeniu znajduje się nowoczesny sprzęt
                i urządzenia laboratoryjne:

                <ul>
                    <li>
                        <span>Mineralizatory mikrofalowe</span>
                        do mokrego rozkładu i ekstrakcji różnego rodzaju próbek w systemie
                        zamkniętym: Milestone, model MLS-1200 Mega z 6-pozycyjnym rotorem
                        i kompletem naczyń teflonowych oraz Multiwave Pro (Anton Par) z 8-pozycyjnym
                        rotoremi kompletem naczyń teflonowych,
                    </li>
                    <li>
                        <span>Mineralizatory DigiPREP Jr. i Mini</span>
                        (SCP Science) 24- i 9-pozycyjne bloki grzewcze z regulacją temperatury
                        i elektronicznym sterownikiem do mokrego rozkładu i ekstrakcji próbek
                        w układzie otwartym,
                    </li>
                    <li>
                        <span>Młynek kriogeniczny/pulweryzator</span>
                        (SPEX SamplePrep) z zestawem naczyń oraz stalowym rozdrabniaczem,
                        służący do mielenia i homogenizowania różnorodnych próbek w ciekłym azocie,
                    </li>
                    <li>
                        <span>Liofilizator</span> Alpha 1-2 LD plus
                        (Martin Christ) do specjalistycznego suszenia próbek o wydajności
                        2 kg/24h i temperaturze minimalnej kondensatora -60 °C,
                    </li>
                    <li>
                        <span>Młynek mikroplanetarny</span>
                        Pulverisette 7 (Fritsch) do szybkiego i bezstratnego mielenia na sucho
                        i mokro różnego rodzaju materiałów twardych, średnio-twardych, kruchych,
                        miękkich oraz mokrych,
                    </li>
                    <li>
                        <span>Wagosuszarka</span>
                        (Metler Toledo), model HE73, do oznaczania wilgotności w próbkach oraz
                        szereg wag analitycznych (Radwag, Metler Toledo),
                    </li>
                    <li>
                        <span>Łaźnie ultradźwiękowe</span>
                        z regulacją czasu i temperatury: Sonic-14 i Sonic-22 (Polsonic) oraz
                        UltrasonsH (JP Selecta), służące do mycia szkła laboratoryjnego i ekstrakcji
                        próbek wspomaganych ultradźwiękami,</li>
                    <li>
                        <span>Łaźnie wodne</span>
                        z wytrząsaniem (Elpin Plus), model 357 z regulacją prędkości obrotowej
                        i temperatury,</li>
                    <li>
                        <span>Wirówki laboratoryjne</span>
                        (MPW Med. Instruments), model 350,</li>
                    <li>
                        <span>Dejonizator wody</span>
                        EASYpure RF (Barntead), model D7033.</li>
                </ul>

                <p>W laboratoriach znajdują się również:</p>
                <ul>
                    <li>
                        Filtrowane stanowiska do przygotowania odczynników (dygestoria),
                    </li>
                    <li>
                        Komora laminarna LAMIL (Merazet) do pracy w wolnej od
                        zanieczyszczeń atmosfery,
                    </li>
                    <li>
                        Płyty grzejne oraz drobny sprzęt laboratoryjny
                        (m.in. mikropipety autmatyczne, pH-metry wraz z elektrodami),
                    </li>
                    <li>
                        Podstawowe wyposażenie laboratorium chemicznego do celów dydaktycznych
                        i prac naukowo-badawczych (m.in. szło i plastiki laboratoryjne,
                        niezbędne odczynniki chemiczne).
                    </li>
                </ul>
            </li>

            <li>
                <span>2. Laboratoria pomiarowe</span>
                - wyposażone w następujące urządzenia pomiarowe:

                <ul>
                    <li>
                        <span>Spektrometr absorpcji atomowej</span>
                        contrAA 700 (Analytik Jena AG) z ciągłym źródłem promieniowania,
                        umożliwiający pracę w technice płomieniowej (FAAS) oraz bezpłomieniowej
                        z kuwetą grafitową (GFAAS); dodatkowym wyposażeniem aparatu jest generator
                        wodorków i zimnych par rtęci z automatycznym podajnikiem próbek oraz manualny
                        podajnik do prób stałych do kuwety grafitowej z mikrowagą analityczną,
                    </li>
                    <li>
                        <span>Spektrometr absorpcji atomowej FAAS</span>
                        (Perkin Elmer), model 1100B,
                    </li>
                    <li>
                        <span>Jednoczesny optyczny spektrometr emisyjny z plazmą indukcyjnie sprzężoną ICP-OES</span>
                        (Agilent), model 720, z poziomą obserwacją plazmy oraz polichromatorem
                        z układem optycznym typu Echelle i kamerą CCD do jednoczesnego oznaczania
                        wielu pierwiastków; dodatkowym wyposażeniem aparatu jest przystawka VGA-77P
                        (Agilent) do generowania wodorków i zimnych par rtęci,
                    </li>
                    <li>
                        <span>Sekwencyjny optyczny spektrometr emisyjny ICP-OES</span>
                        (Jobin Yvon), model 38S z systemem szybkiej rejestracji widm IMAGE,
                    </li>
                    <li>
                        <span>Dwuwiązkowy spektrometr UV-VIS</span>
                        Specord 210 Plus (Analytic Jena AG) wyposażony w uchwyt do kuwet o długości
                        drogi optycznej 10-50 mm, system kuwety przepływowej wraz z pompą
                        perystaltyczną oraz kwarcową sondą światłowodową,
                    </li>
                    <li>
                        <span>Rentgenowski dyfraktometr proszkowy</span>
                        X-pert (Philips),
                    </li>
                    <li>
                        <span>Kulometr przepływowy</span>
                        (Istran), model EcaFlow 150 GLP,
                    </li>
                    <li>
                        <span>Monochromatory</span>
                        do sekwencyjnej (JY TRIAX 320 z fotopowielaczem, 2-m PGS-2 Zeiss Jena)
                        lub jednoczesnej (Shamrock 500i (ANDOR) z kamerą CCD) rejestracji
                        promieniowania oraz zminiaturyzowane monochromatory (Avantes i BWTek).
                    </li>
                </ul>

                <p>Wyposażenie laboratoriów stanowią ponadto:</p>
                <ul>
                    <li>Nebulizer ultradźwiękowy CETAC 5000+ współpracujący ze spektrometrami emisyjnymi,</li>
                    <li>Zasilacze wysokiego napięcia stałoprądowe i zmiennoprądowe,</li>
                    <li>Oscyloskop 2-kanałowy 50 MHz (Siglent),</li>
                    <li>Przepływomierze cyfrowe (Tylan General i ERG).</li>
                </ul>
            </li>
        </ol>
    </section>

    <section>
        <h2>Zespół Metalirgii Chemicznej</h2>

        <p>W strukturze laboratoriów Zespołu Metalurgii Chemicznej znajdują się:</p>

        <ol>
            <li>
                <span>1. Pracownia analizy termicznej i kalorymetrii</span>, wyposażona w:

                <ul>
                    <li>
                        <span>Modułowy, wysokotemperaturowy kalorymetr</span>
                        MHTC 96 (Setaram) z możliwością zastosowania detektora "3D" Heat Flux
                        do pomiarów metodą różnicowej kalorymetrii skaningowej (DSC) do 1600 °C,
                        detektora typu "drop" do pomiarów ciepła np. rozpuszczania do 1500 °C oraz
                        termowagi do pomiarów TGA (praca z obciążeniem do 100 g), z możliwością
                        jednoczesnego pomiaru DSC lub DTA do 1600 °C,
                    </li>
                    <li>
                        <span>Różnicowy kalorymetr skaningowy</span>
                        LABSYS evo DSC (Setaram) do pomiarów w zakresie 20-1600 °C
                        z możliwością pomiarów ciepła molowego,
                    </li>
                    <li>
                        <span>Spektrometr FTIR</span>
                        TENSOR 27 (Bruker) z możliwością podłączenia do kalorymetru MHTC 96,
                    </li>
                    <li>
                        <span>Kalorymetr</span>
                        DSC 92 (Setaram) do pracy w zakresie temperatur od -150 °C do 600 °C.
                    </li>
                </ul>
            </li>

            <li>
                <span>2. Laboratorium procesów hydrometalurgicznych</span>, wyposażone w:

                <ul>
                    <li>
                        <span>Aparat do absorpcyjnej spektrometrii atomowej z atomizacją w płomieniu (FAAS)</span>,
                        Varian SpectrAA 20Plus,
                    </li>
                    <li>
                        <span>Reaktory ciśnieniowe</span>
                        do badania procesów hydrotermalnych (poj. 2 dm3), wyprodukowane
                        przez PARR Instrument Company,
                    </li>
                    <li>
                        <span>Reaktory szklane</span>
                        z mieszaniem i regulacją temperatury do badania procesów
                        ługowania w warunkach atmosferycznych,
                    </li>
                    <li>
                        <span>Analizator wielkości cząstek</span>
                        Master Sizer firmy Malvern,</li>
                    <li>
                        <span>Autolab</span>
                        - zestaw do pomiarów elektrochemicznych na elektrodach metalicznych
                        i na minerałach z oprogramowaniem.
                    </li>
                </ul>
            </li>

            <li>
                <span>3. Laboratorium radioizotopowe II klasy</span>, wyposażone w:

                <ul>
                    <li><span>Spektrometr promieniowania gamma,</span></li>
                    <li><span>Radiometr uniwersalny RUM-2,</span></li>
                    <li><span>Stacja pomiarowa ASS-500.</span></li>
                </ul>
            </li>
        </ol>
    </section>
</BaseLayout>

<style lang="scss">
    p, span {
        font-weight: 700;
    }

    ol > li:not(:last-child) {
        margin-block-end: 2rem;
    }

    ol > li > p {
        margin-top: 1rem;
    }

    ul {
        padding-inline-start: 16px;
    }

    ul > li {
        list-style: disc;
    }

    ul > li::marker {
        color: var(--main-color);
        font-size: 1.2rem;
    }
</style>
