---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
    title="Specjalność | Katedra chemii analitycznej i metalurgii chemicznej"
    mainHeading="Specjalność: Analityka środowiska i żywności"
>
    <div class="speciality__main-info">
        <h2>
            Zapraszamy do wyboru studiów II stopnia na kierunku Chemia,
            specjalności Analityka środowiskowa i żywności
            na Wydziale Chemicznym Politechniki Wrocławskiej
        </h2>
        <p>
            <span class="speciality__main-info--bold">Studia:</span>
            magisterskie (II stopnia)
        </p>
        <p>
            <span class="speciality__main-info--bold">Kierunek:</span>
            Chemia
        </p>
        <p>
            <span class="speciality__main-info--bold">Specjalność:</span>
            Analityka środowiskowa i żywności
        </p>
    </div>

    <p class="speciality__detailed-info">Zmiany w warunkach życia i środowiska naturalnego człowieka związane z rozwojem nauki, techniki i technologii spowodowały olbrzymi wzrost znaczenia chemii analitycznej i analityki. Chemia analityczna to nie tylko jedna z najważniejszych i najbardziej dynamicznie rozwijających się dziś dziedzin chemii. Technologie nowych materiałów, ochrona stanu skażenia środowiska naturalnego, badania żywności, medycyna, a także takie dziedziny nauki jak archeologia czy kryminologia są obecnie związane z możliwościami pomiarowymi i rozwojem chemii analitycznej.</p>
    <p class="speciality__detailed-info">Współczesna chemia analityczna jest dyscypliną naukową zajmującą się ustalaniem: składu układów materialnych (analiza jakościowa i ilościowa substancji), struktury cząsteczek i ciał stałych, przemian zachodzących w czasie i przestrzeni w obrębie analizowanych materiałów i cząsteczek, czy specjacji. Jako nauka interdyscyplinarna ma ona zastosowanie nie tylko w chemii, ale także w medycynie, ochronie środowiska, toksykologii, biologii, mikrobiologii, kryminalistyce, archeologii i wielu innych dziedzinach nauki i techniki. Przedmiotem badań chemii analitycznej są m.in.: rośliny, zwierzęta i człowiek, powietrze, woda i gleba, żywność, leki, barwniki, kosmetyki, środki ochrony roślin, nawozy, paliwa, włókna syntetyczne, masy plastyczne, metale i ich stopy, etc. Jednocześnie stale wzrasta nie tylko zakres przeprowadzanych badań i kontroli, lecz także wymagania co do treści i jakości informacji analitycznych. Dlatego też stosowane są różnorodne metody klasyczne (analiza wagowa i miareczkowa) oraz instrumentalne, w tym atomowa spektrometria absorpcyjna z atomizacją w płomieniu lub kuwecie grafitowej (FAAS, GFAAS), optyczna spektrometria emisyjna ze wzbudzeniem w plazmie sprzężonej indukcyjnej (ICP-OES), spektrometria mas z jonizacją w plazmie sprzężonej indukcyjnie (ICP-MS), fluorescencja rentgenowska (XRF), dyfrakcja rentgenowska (XRD), techniki chromatografii gazowej oraz cieczowej z różnego rodzaju detektorami oraz techniki elektroanalityczne.</p>

    <div>
        <p class="speciality__detailed-info">Program specjalności daje możliwość poznania zaawansowanych instrumentalnych metod analitycznych:</p>
        <ul class="speciality__detailed-info-list">
            <li>spektroskopowych (AAS, ICP-OES, spektroskopii IR i UV/VIS, spektrometrii mas, XRF, XRD),</li>
            <li>chromatograficznych (wysokosprawnej chromatografii cieczowej, chromatografii gazowej),</li>
            <li>elektroanalitycznych,</li>
            <li>izotopowych (spektrometria promieniowania gamma).</li>
        </ul>
    </div>

    <p class="speciality__detailed-info">Studenci specjalności Analityka środowiskowa i żywności zapoznają się z nowoczesnymi fizykochemicznymi (instrumentalnymi) metodami analizy, ich podstawami teoretycznymi oraz praktycznym zastosowaniem.</p>

    <div>
        <p class="speciality__detailed-info">W sprawach specjalności doradzają:</p>
        <ul class="speciality__detailed-info-list">
            <li>dr inż. Anna Dzimitrowicz (bud. A-2, pok. 125a, tel. 71 320-24-94),</li>
            <li>dr hab. inż. Piotr Jamróz, prof. uczelni (bud. A-3, pok. 124, tel. 71 320-38-07),</li>
            <li>dr inż. Anna Lesniewicz (bud. A-3, pok. 120a, tel. 71 320-47-50),</li>
            <li>prof. dr hab. inż. Paweł Pohl (bud. A-2, pok. 125a, tel. 71 320-24-94),</li>
            <li>dr hab. inż. Anna Szymczycha-Madeja, prof. uczelni (bud. A-3, pok. 215, tel. 71 320-32-32),</li>
            <li>dr hab. inż. Maja Wełna, prof. uczelni (bud. A-3, pok. 215, tel. 71 320-24-94).</li>
        </ul>
    </div>

    <div class="speciality__more-info">
        <h2>Więcej informacji znajdziecie Państwo w poniższej ulotce:</h2>
        <picture>
            <source srcset="img/leaflet.webp">
            <img
                src="/Website_ZChA/img/leaflet.jpg"
                alt="Zdjęcie plakatu zawierającego informacje o specjalności"
            />
        </picture>
    </div>
</BaseLayout>

<style lang="scss">
.speciality {
    &__main-info {
        text-align: center;
        font-size: 1.1rem;

        &--bold {
            font-weight: 700;
        }
    }

    &__detailed-info {
        &-list {
            padding: 0 1rem;
            list-style: revert;
        }
    }

    &__more-info img {
        margin-inline: auto;
    }
}
</style>
