---
const year = new Date().getFullYear()
---

<footer class="footer">
    <p>Zapraszamy na profil Facebook-owy Katedry Chemii Analitycznej i Metalurgii Chemicznej</p>
    <a href="https://www.facebook.com/chemia.analityczna" target="_blank">
        <img
            src="/img/facebook-logo.svg"
            alt="Logo facebooka - link prowadzący do profilu katedry na facebook-u"
        >
    </a>
    <p>Katedra Chemii Analitycznej i Metalurgii Chemicznej Politechniki Wrocławskiej &copy;
        { year }
    </p>
</footer>

<style lang="scss">
    @use 'src/sass/_colors.scss' as *;

    .footer {
        padding: 1rem;
        text-align: center;
        background-color: var(--footer-bg-2);

        img {
            margin-inline: auto;
            padding: 0.5rem;
            cursor: pointer;
        }

        p:last-child {
            font-size: clamp(.7rem, 1vw + .4rem, .9rem);
        }
    }
</style>
